﻿@using System.Web.UI.WebControls
@using Entities.ModelsDTO
@model Entities.ModelsDTO.StudentsDto

@{
    var STUDENT_NAME = "Ім'я";
    var STUDENT_SURNAME = "Прізвище";
    var STUDENT_LOGIN = "Користувач";
    var STUDENT_GROUP = "Група";

    var ADD_BUTTON_LABEL = "Добавити";

    var listItemsGroups = new List<ListItem> { };
    var listItemsUsers = new List<ListItem> { };

    if (ViewBag.Groups != null && ViewBag.Users != null)
    {
        foreach (GroupsDto g in ViewBag.Groups)
        {
            listItemsGroups.Add(new ListItem(g.Name, g.Id.ToString()));
        }
        foreach (UsersDto u in ViewBag.Users)
        {
            listItemsUsers.Add(new ListItem(u.UserLogin, u.Id.ToString()));
        }
    }
}

@if (ViewBag.Success == null || ViewBag.Success == false)
{
using (Html.BeginForm())
 {
     @Html.AntiForgeryToken()
     @Html.ValidationSummary(true, "", new {@class = "text-danger"})

     <div class="row justify-content-center  text-center">
         <div class="col-lg-3 col-md-4 col-sm-3 align-self-center text-center">
             <label class="text-primary font-weight-bold">@STUDENT_NAME</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8">
             @Html.EditorFor(model => model.FirstName, new {htmlAttributes = new {@class = "form-control", id = "firstname"}})
             @Html.ValidationMessageFor(model => model.FirstName, "", new {@class = "text-danger"})
         </div>
     </div>
     <hr/>
     <div class="row justify-content-center  text-center">
         <div class="col-lg-3 col-md-4 col-sm-3 align-self-center text-center">
             <label class="text-primary font-weight-bold ">@STUDENT_SURNAME</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8">
             @Html.EditorFor(model => model.SecondName, new {htmlAttributes = new {@class = "form-control", id = "secondname"}})
             @Html.ValidationMessageFor(model => model.SecondName, "", new {@class = "text-danger"})
         </div>
     </div>
     <hr/>
     <div class="row justify-content-center  text-center">
         <div class="col-lg-3 col-md-4 col-sm-3 align-self-center">
             <label class="text-primary font-weight-bold">@STUDENT_GROUP</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 text-center">
             @Html.DropDownListFor(model => model.IdGroup, new SelectList(listItemsGroups, "Value", "Text"), new {@class = "btn btn-light dropdown-toggle", id = "idgroup"})
             @Html.ValidationMessageFor(model => model.IdGroup, "", new {@class = "text-danger"})
         </div>
     </div>
     <hr/>
     <div class="row justify-content-center  text-center">
         <div class="col-lg-3 col-md-4 col-sm-3 align-self-center">
             <label class="text-primary font-weight-bold">@STUDENT_LOGIN</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8">
             @Html.DropDownListFor(model => model.IdUser, new SelectList(listItemsUsers, "Value", "Text"), new {@class = "btn btn-light dropdown-toggle", id = "iduser"})
             @Html.ValidationMessageFor(model => model.IdUser, "", new {@class = "text-danger"})
         </div>
     </div>
     <hr/>
     <div class="my-modal-footer">
         <div class="row justify-content-center">
             <button type="button" class="btn btn-outline-success" value="createStudent" onclick="PostCreateStudent()">@ADD_BUTTON_LABEL</button>
         </div>
     </div>
    }
}
else
{
     <script>
         $('#StudentModal').modal('hide');
         $(location).attr('href', "@Url.Action("Students", "Student")");
     </script>
}

<script>
    var CREATE_TITLE = "Добавити студента";
    function PostCreateStudent() {
        document.getElementById("StudentTitle").style.color = 'white';
        $('#StudentTitle').text(function(i, oldText) {
            return CREATE_TITLE;
        });

        var posting = $.post("@Url.Action("CreateStudent", "Student")",
            {
                Firstname: $('#firstname').val(),
                Secondname: $('#secondname').val(),
                IdGroup: $('#idgroup').val(),
                IdUser: $('#iduser').val()
            }
        );
        posting.done(function(data) {
            @{
                if (ViewBag.Success != null && ViewBag.Success)
                {
                    <text>
                        $('#StudentModal').remove();
                        $('.modal-body').remove();
                    </text>
                }
                else
                {
                    <text>
                        $('.modal-body').html(data);
                    </text>
                }
            }
        });

        $('#StudentModal').modal('show');
        $('#StudentModal').on('hidden.bs.modal',
            function(e) {
                $('.modal-body').html("");
            });
    }
</script>

