﻿@model Entities.ModelsDTO.StudentsDto
@using Entities.ModelsDTO
@{
    var STUDENT_NAME = "Ім'я";
    var STUDENT_SURNAME = "Прізвище";
    var LOGIN = "Користувач";
    var GROUP = "Група";

    var DELETE_BUTTON_TRUE = "Так";
    var DELETE_BUTTON_NO = "Ні";

    GroupsDto group = ViewBag.Group;
    UsersDto user = ViewBag.User;
}

@using (Html.BeginForm("DeleteStudentById", "Student", FormMethod.Post))
{
    @Html.HiddenFor(model => model.Id)
    <div class="row justify-content-center text-center">
        <div class="col-lg-5 col-md-5 col-sm-5 align-self-center">
            <label class="text-primary font-weight-bold">@STUDENT_NAME</label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 text-white">
            @Html.DisplayFor(model => model.FirstName)
        </div>
    </div>
    <hr />
    <div class="row justify-content-center text-center">
        <div class="col-lg-5 col-md-5 col-sm-5 align-self-center">
            <label class="text-primary font-weight-bold">@STUDENT_SURNAME</label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 text-white">
            @Html.DisplayFor(model => model.SecondName)
        </div>
    </div>
    <hr />
    <div class="row justify-content-center text-center">
        <div class="col-lg-5 col-md-5 col-sm-5 align-self-center">
            <label class="text-primary font-weight-bold">@LOGIN</label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 text-white">
            @user.UserLogin
        </div>
    </div>
    <hr />
    <div class="row justify-content-center text-center">
        <div class="col-lg-5 col-md-5 col-sm-5 align-self-center">
            <label class="text-primary font-weight-bold">@GROUP</label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 text-white">
            @group.Name
        </div>
    </div>
    <hr />
    <div class="my-modal-footer text-center">
        <input type="submit" name="id" value="@DELETE_BUTTON_TRUE" class="btn btn-outline-danger mr-2 mt-2 ml-auto mb-2">
        @Html.ActionLink(DELETE_BUTTON_NO, "Students",
            new {controller = "Student"},
            new {@class = "btn btn-outline-success mr-auto mt-2 ml-2 mb-2"})
    </div>
}