﻿@model Entities.ModelsDTO.StudentsDto
@using Entities.ModelsDTO
@{
    var EDIT_BUTTON_LABEL = "Зберегти";

    var STUDENT_NAME = "Ім'я";
    var STUDENT_SURNAME = "Прізвище";
    var LOGIN = "Користувач";
    var GROUP = "Група";

    var listItemsGroups = new List<SelectListItem> { };
    foreach (GroupsDto g in ViewBag.Groups)
    {
        if (g.Id == Model.IdGroup)
        {
            listItemsGroups.Add(new SelectListItem { Text = g.Name, Value = g.Id.ToString(), Selected = true });
        }
        else
        {
            listItemsGroups.Add(new SelectListItem() { Text = g.Name, Value = g.Id.ToString(), Selected = false });
        }
    }

    var listItemsUsers = new List<SelectListItem> { };
    foreach (UsersDto u in ViewBag.Users)
    {
        if (u.Id == Model.IdUser)
        {
            listItemsUsers.Add(new SelectListItem { Text = u.UserLogin, Value = u.Id.ToString(), Selected = true });
        }
        else
        {
            listItemsUsers.Add(new SelectListItem { Text = u.UserLogin, Value = u.Id.ToString() });
        }
    }
}

@if (ViewBag.Success == null || ViewBag.Success == false)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.Id)
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4 col-sm-3 align-self-center text-center">
                <label class="text-primary font-weight-bold">@STUDENT_NAME</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                @Html.EditorFor(model => model.FirstName, new {htmlAttributes = new {@class = "form-control", id = "firstname" }})
                @Html.ValidationMessageFor(model => model.FirstName, "", new {@class = "text-danger"})
            </div>
        </div>
        <hr/>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4 col-sm-3 align-self-center text-center">
                <label class="text-primary font-weight-bold ">@STUDENT_SURNAME</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                @Html.EditorFor(model => model.SecondName, new {htmlAttributes = new {@class = "form-control", id = "secondname" } })
                @Html.ValidationMessageFor(model => model.SecondName, "", new {@class = "text-danger"})
            </div>
        </div>
        <hr/>
        <div class="row justify-content-center text-center">
            <div class="col-lg-3 col-md-4 col-sm-3 align-self-center">
                <label class="text-primary font-weight-bold">@GROUP</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                @Html.DropDownListFor(model => model.IdGroup, new SelectList(listItemsGroups, "Value", "Text"), new {@class = "btn btn-light dropdown-toggle", id = "idgroup" })
                @Html.ValidationMessageFor(model => model.IdGroup, "", new {@class = "text-danger"})
            </div>
        </div>
        <hr/>
        <div class="row justify-content-center text-center">
            <div class="col-lg-3 col-md-4 col-sm-3 align-self-center">
                <label class="text-primary font-weight-bold">@LOGIN</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                @Html.DropDownListFor(model => model.IdUser, new SelectList(listItemsUsers, "Value", "Text"), new {@class = "btn btn-light dropdown-toggle", id = "iduser" })
                @Html.ValidationMessageFor(model => model.IdUser, "", new {@class = "text-danger"})
            </div>
        </div>
        <hr/>
        <div class="my-modal-footer">
            <div class="row justify-content-center">
                <button type="button" class="btn btn-outline-success" value="create" onclick="PostEditStudent()">@EDIT_BUTTON_LABEL</button>
            </div>
        </div>
    }
}
else
{
<script>
    $('#StudentModal').modal('hide');
    $(location).attr('href', "@Url.Action("Students", "Student")");
</script>
}
<script>
    var EDIT_TITLE = "Редагування";
    function PostEditStudent() {
        document.getElementById("StudentTitle").style.color = 'white';
        $('#StudentTitle').text(function(i, oldText) {
            return EDIT_TITLE;
        });

        var posting = $.post("@Url.Action("EditStudent", "Student")",
            {
                Firstname: $('#firstname').val(),
                Secondname: $('#secondname').val(),
                IdGroup: $('#idgroup').val(),
                IdUser: $('#iduser').val()
            }
        );
        posting.done(function(data) {
            @{
                if (ViewBag.Success != null && ViewBag.Success)
                {
                    <text>
                        $('#StudentModal').remove();
                        $('.modal-body').remove();
                    </text>
                }
                else
                {
                    <text>
                        $('.modal-body').html(data);
                    </text>
                }
            }
        });

        $('#StudentModal').modal('show');
        $('#StudentModal').on('hidden.bs.modal',
            function(e) {
                $('.modal-body').html("");
            });
    }
</script>