﻿@using System.Web.UI.WebControls
@using Entities.ModelsDTO
@using SharedLibrary.HttpServices
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.CurrentPage = "Students";
    var TITLE = "Студенти";
    var SEARCH = "Пошук";
    var NAME = "Ім'я";
    var SURNAME = "Прізвище";
    var GROUP = "Група";
    GroupHttpService groupService = new GroupHttpService();
    var dropDownForGroup = new List<ListItem>();


    if (ViewBag.Groups != null)
    {
        foreach (GroupsDto g in ViewBag.Groups)
        {
            dropDownForGroup.Add(new ListItem(g.Name, g.Id.ToString()));
        }
    }
}

<div class="container-fluid">
    <div class="row mt-4 bg-dark border-bottom">
        <div class="col-lg-4 col-md-12 col-sm-12 align-self-center">
            <h2 class="labels m-1 text-white">@TITLE</h2>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-9 align-self-center">
                @using (Html.BeginForm("Students", "Student", FormMethod.Post))
                {
                    <input class="form-control float-left m-1" type="search" placeholder="Прізвище та ім'я" name="search" style="width: 200px">
                    @Html.DropDownList("id", new SelectList(dropDownForGroup, "Value", "Text"), new {@class = "btn btn-light dropdown-toggle m-1", id = "id"})
                    <button class="btn btn-outline-primary" type="submit"><i class="fa fa-search"></i> @SEARCH</button>
                }
        </div>
        <div class="col-lg-2 col-md-1 col-sm-3 align-self-center text-center">
            <button class="btn btn-success text-white fa fa-user-plus mt-1 mb-1" type="button" value="create" onclick="Create()" data-toggle="tooltip" data-placement="bottom" title="Створити"></button>
        </div>
    </div>

    <div class="row justify-content-center">
        <table class="table table-responsive-sm table-hover table-dark w-100 table-bordered text-center font-weight-bold" id="StudentForm">
            <thead class="text-primary" style="font-size: 18px">
                <tr>
                    <th scope="row" class="font-italic">
                        @NAME
                    </th>
                    <th scope="row" class="font-italic">
                        @SURNAME
                    </th>
                    <th scope="row" class="font-italic">
                        @GROUP
                    </th>
                    <th scope="row"></th>
                </tr>
            </thead>
            <tbody>
            @{
                if (ViewBag.Students != null)
                {
                    foreach (StudentsDto item in ViewBag.Students)
                    {
                        <tr style="font-weight:normal">
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SecondName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => groupService.GetGroupById(item.IdGroup).Name)
                            </td>
                            <td align="center">
                                <button class="btn btn-warning text-white fa fa-edit " type="button" value="edit" id="@item.Id" onclick="Edit(this.id)" data-toggle="tooltip" data-placement="bottom" title="Редагувати"></button> |
                                <button class="btn btn-danger text-white fa fa-trash" type="button" value="delete" id="@item.Id" onclick="Delete(this.id)" data-toggle="tooltip" data-placement="bottom" title="Видалити"></button>
                            </td>
                        </tr>
                    }
                }
            }
            </tbody>
        </table>
    </div>
</div>

<script>
    var CREATE_TITLE = "Добавити студента";
    var EDIT_TITLE = "Редагування";
    var DELETE_TITLE = "Ви впевнені, що бажаєте видалити даного студента?";

    function Create() {
        document.getElementById("StudentTitle").style.color = 'white';
        $('#StudentTitle').text(function(i, oldText) {
            return CREATE_TITLE;
        });

        $.get("@Url.Action("CreateStudent","Student")",
            function(data) {
                 $('.modal-body').html(data);
            });
        $('#StudentModal').modal('show');

        $('#StudentModal').on('hidden.bs.modal',
            function(e) {
                $('.modal-body').html("");
            });
    }

    function Edit(id) {
        document.getElementById("StudentTitle").style.color = 'white';
        $('#StudentTitle').text(function (i, oldText) {
            return EDIT_TITLE;
        });

        $.get("@Url.Action("EditStudent", "Student")/" + id,
            function (data) { $('.modal-body').html(data); });
        $('#StudentModal').modal('show');

        $('#StudentModal').on('hidden.bs.modal',
            function (e) {
                $('.modal-body').html("");
            });
    }

    function Delete(id) {
        document.getElementById("StudentTitle").style.color = 'red';
        $('#StudentTitle').text(function (i, oldText) {
            return DELETE_TITLE;
        });

        $.get("@Url.Action("DeleteStudent", "Student")/" + id,
            function (data) { $('.modal-body').html(data); });
        $('#StudentModal').modal('show');

        $('#StudentModal').on('hidden.bs.modal',
            function (e) {
                $('.modal-body').html("");
            });
    }

</script>
