﻿@model Entities.ModelsDTO.DepartmentsDto

@{

    var TITLE = "Кафедри";
    var SEARCH = "Пошук";
    var NAME = "Назва";

    var DELETE_BUTTON_TRUE = "Так";
    var DELETE_BUTTON_NO = "Ні";
}

@using (Html.BeginForm("DeleteDepartmentById", "Department", FormMethod.Post))
{
    @Html.HiddenFor(model => model.Id)
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-5 col-sm-5 align-self-center text-center">
            <label class="text-primary font-weight-bold">@NAME</label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 text-white text-center">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>
    <hr />
    <div class="my-modal-footer text-center">
        <input type="submit" name="id" value="@DELETE_BUTTON_TRUE" class="btn btn-outline-danger mr-2 mt-2 ml-auto mb-2">
        @Html.ActionLink(DELETE_BUTTON_NO, "Departments",
            new {controller = "Department"},
            new {@class = "btn btn-outline-success mr-auto mt-2 ml-2 mb-2"})
    </div>
}



