﻿@using Entities.ModelsDTO
@model IEnumerable<Entities.ModelsDTO.DepartmentsDto>

@{
    ViewBag.CurrentPage = "Departments";
    var TITLE = "Кафедри";
    var SEARCH = "Пошук";
    var NAME = "Назва";
}

<div class="container-fluid">
    <div class="row justify-content-between mt-4 bg-dark border-bottom">
        <div class="col-lg-3 col-md-4 col-sm-5 align-self-center">
            <h2 class="labels ml-3 mr-2 mt-2 mb-2 text-white">@TITLE</h2>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-4 align-self-center">
        @using (Html.BeginForm("Departments", "Department", FormMethod.Get))
        {
            <input class="form-control form-control-borderless float-left w-50 mr-2" type="search" placeholder=@TITLE name="name">
            <button class="btn btn-outline-primary" type="submit"><i class="fa fa-search"></i>@SEARCH</button>
        }
        </div>
        <div class="col-lg-1 col-md-4 col-sm-3 align-self-center text-center">
            <button class="btn btn-success text-white fa fa-plus mt-1 mb-1" type="button" value="create" onclick="Create()" data-toggle="tooltip" data-placement="bottom" title="Створити"></button>
        </div>
    </div>

    <div class="row justify-content-center">
        <table class="table table-responsive-sm table-hover table-dark w-100 table-bordered text-center font-weight-bold" id="StudentForm">
            <thead class="text-primary" style="font-size: 18px">
                <tr>
                    <th scope="row" class="font-italic">
                        @NAME
                    </th>
                    <th scope="row"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (ViewBag.Departments != null)
                    {
                        foreach (DepartmentsDto item in ViewBag.Departments)
                        {
                            <tr style="font-weight:normal">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td align="center">
                                    <button class="btn btn-warning text-white fa fa-edit" type="button" value="edit" id="@item.Id" onclick="Edit(this.id)" data-toggle="tooltip" data-placement="bottom" title="Редагувати"></button> |
                                    <button class="btn btn-danger text-white fa fa-trash" type="button" value="delete" id="@item.Id" onclick="Delete(this.id)" data-toggle="tooltip" data-placement="bottom" title="Видалити"></button>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    var DETAIL_TITLE = "Детальна інформація";
    var CREATE_TITLE = "Добавити кафедру";
    var EDIT_TITLE = "Редагування";
    var DELETE_TITLE = "Ви впевнені, що бажаєте видалити дану кафедру?";

    function Create() {
        document.getElementById("DepartmentTitle").style.color = 'white';
        $('#DepartmentTitle').text(function(i, oldText) {
            return CREATE_TITLE;
        });

        $.get("@Url.Action("CreateDepartment","Department")",
            function (data) { $('.modal-body').html(data); });
        $('#DepartmentModal').modal('show');

        $('#DepartmentModal').on('hidden.bs.modal',
            function(e) {
                $('.modal-body').html("");
            });
    }

    function Edit(id) {
        document.getElementById("DepartmentTitle").style.color = 'white';
        $('#DepartmentTitle').text(function (i, oldText) {
            return EDIT_TITLE;
        });

        $.get("@Url.Action("EditDepartment", "Department")/" + id,
            function (data) { $('.modal-body').html(data); });
        $('#DepartmentModal').modal('show');

        $('#DepartmentModal').on('hidden.bs.modal',
            function (e) {
                $('.modal-body').html("");
            });
    }

    function Delete(id) {
        document.getElementById("DepartmentTitle").style.color = 'red';
        $('#DepartmentTitle').text(function (i, oldText) {
            return DELETE_TITLE;
        });

        $.get("@Url.Action("DeleteDepartment", "Department")/" + id,
            function (data) { $('.modal-body').html(data); });
        $('#DepartmentModal').modal('show');

        $('#DepartmentModal').on('hidden.bs.modal',
            function (e) {
                $('.modal-body').html("");
            });
    }
</script>
