﻿@using System.Web.UI.WebControls
@using Resourses.Enums
@using Resourses.Parsers
@model Entities.ModelsDTO.UsersDto

@{
    ViewBag.CurrentPage = "Teachers";
    var TITLE = "Користувачі";
    var SEARCH = "Пошук";
    var EMAIL = "Email";
    var LOGIN = "Логін";
    var PASSWORD = "Пароль";
    var ROLE = "Роль";

    var ADD_BUTTON_LABEL = "Добавити";

    var roles = new List<ListItem> { };

    foreach (ScheduleEnums.UserRoles c in Enum.GetValues(typeof(ScheduleEnums.UserRoles)))
    {
        ListItem item = new ListItem(Enum.GetName(typeof(ScheduleEnums.UserRoles), c), c.GetStringValue());
        roles.Add(item);
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row justify-content-center text-center">
        <div class="col-lg-3 col-md-4 col-sm-3 align-self-center">
            <label class="text-primary font-weight-bold">@LOGIN</label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            @Html.EditorFor(model => model.UserLogin, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserLogin, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="row justify-content-center text-center">
        <div class="col-lg-3 col-md-4 col-sm-3 align-self-center">
            <label class="text-primary font-weight-bold">@PASSWORD</label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="row justify-content-center text-center">
        <div class="col-lg-3 col-md-3 col-sm-3 align-self-center">
            <label class="text-primary font-weight-bold ">@EMAIL</label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            @Html.EditorFor(model => model.UserEmail, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="row justify-content-center text-center">
        <div class="col-lg-3 col-md-3 col-sm-3 align-self-center">
            <label class="text-primary font-weight-bold ">@ROLE</label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            @Html.DropDownListFor(model => model.UserRole, new SelectList(roles, "Value", "Text"), new { @class = "btn btn-light dropdown-toggle" })
            @Html.ValidationMessageFor(model => model.UserRole, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="my-modal-footer">
        <div class="row justify-content-center">
            <input type="submit" value=@ADD_BUTTON_LABEL class="btn btn-outline-success" />
        </div>
    </div>
}