﻿@using Entities.ModelsDTO
@model Entities.ModelsDTO.UsersDto

@{
    ViewBag.CurrentPage = "Teachers";
    var TITLE = "Користувачі";
    var SEARCH = "Пошук";
    var EMAIL = "Email";
    var LOGIN = "Логін";
    var PASSWORD = "Пароль";
    var ROLE = "Роль";

    var DELETE_BUTTON_TRUE = "Так";
    var DELETE_BUTTON_NO = "Ні";
}
@using (Html.BeginForm("DeleteUserById", "User", FormMethod.Post))
{
    @Html.HiddenFor(model => model.Id)
    <div class="row justify-content-center text-center">
        <div class="col-lg-5 col-md-5 col-sm-5 align-self-center">
            <label class="text-primary font-weight-bold">@LOGIN</label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 text-white">
            @Html.DisplayFor(model => model.UserLogin)
        </div>
    </div>
    <hr />
    <div class="row justify-content-center text-center">
        <div class="col-lg-5 col-md-5 col-sm-5 align-self-center">
            <label class="text-primary font-weight-bold">@EMAIL</label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 text-white">
            @Html.DisplayFor(model => model.UserEmail)
        </div>
    </div>
    <hr />
    <div class="my-modal-footer text-center">
        <input type="submit" name="id" value="@DELETE_BUTTON_TRUE" class="btn btn-outline-danger mr-2 mt-2 ml-auto mb-2">
        @Html.ActionLink(DELETE_BUTTON_NO, "Users",
            new {controller = "User"},
            new {@class = "btn btn-outline-success mr-auto mt-2 ml-2 mb-2"})
    </div>
}
