﻿@using Resourses.Enums
@model Entities.ModelsDTO.UsersDto

@{
    ViewBag.CurrentPage = "Teachers";
    var TITLE = "Користувачі";
    var SEARCH = "Пошук";
    var EMAIL = "Email";
    var LOGIN = "Логін";
    var PASSWORD = "Пароль";
    var ROLE = "Роль";

    var EDIT_BUTTON_LABEL = "Зберегти";

    var roles = new List<SelectListItem> { };
    foreach (ScheduleEnums.UserRoles c in Enum.GetValues(typeof(ScheduleEnums.UserRoles)))
    {
        if (c == Model.UserRole)
        {
            roles.Add(new SelectListItem { Text = Enum.GetName(typeof(ScheduleEnums.UserRoles), c), Value = c.ToString(), Selected = true });
        }
        else
        {
            roles.Add(new SelectListItem { Text = Enum.GetName(typeof(ScheduleEnums.UserRoles), c), Value = c.ToString() });
        }
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.UserPassword)

    <div class="row justify-content-center text-center">
        <div class="col-lg-3 col-md-4 col-sm-3 align-self-center">
            <label class="text-primary font-weight-bold">@LOGIN</label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            @Html.EditorFor(model => model.UserLogin, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserLogin, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="row justify-content-center text-center">
        <div class="col-lg-3 col-md-3 col-sm-3 align-self-center">
            <label class="text-primary font-weight-bold ">@EMAIL</label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            @Html.EditorFor(model => model.UserEmail, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="row justify-content-center text-center">
        <div class="col-lg-3 col-md-3 col-sm-3 align-self-center">
            <label class="text-primary font-weight-bold ">@ROLE</label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            @Html.DropDownListFor(model => model.UserRole, new SelectList(roles, "Value", "Text"), new { @class = "btn btn-light dropdown-toggle" })
            @Html.ValidationMessageFor(model => model.UserRole, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="my-modal-footer">
        <div class="row justify-content-center">
            <input type="submit" value=@EDIT_BUTTON_LABEL class="btn btn-outline-success" />
        </div>
    </div>
}