﻿@using Entities.ModelsDTO
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.CurrentPage = "Users";
    var TITLE = "Користувачі";
    var SEARCH = "Пошук";
    var EMAIL = "Email";
    var LOGIN = "Логін";
    var PASSWORD = "Пароль";
    var ROLE = "Роль";

}

<div class="container-fluid">
    <div class="row justify-content-between mt-4 bg-dark border-bottom">
        <div class="col-lg-3 col-md-4 col-sm-5 align-self-center">
            <h2 class="labels ml-3 mr-2 mt-2 mb-2 text-white">@TITLE</h2>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-4 align-self-center">
            @using (Html.BeginForm("Users", "User", FormMethod.Get))
            {
                <input class="form-control form-control-borderless float-left w-50 mr-2" type="search" placeholder="Роль" name="role">
                <button class="btn btn-outline-primary" type="submit"><i class="fa fa-search"></i>@SEARCH</button>
            }
        </div>
        <div class="col-lg-1 col-md-4 col-sm-3 align-self-center text-center">
            <button class="btn btn-success text-white fa fa-user-plus m-1" type="button" value="create" onclick="Create()" data-toggle="tooltip" data-placement="bottom" title="Створити"></button>
        </div>
    </div>

    <div class="row justify-content-center">
        <table class="table table-responsive-sm table-hover table-dark w-100 table-bordered text-center font-weight-bold" id="TeacherForm">
            <thead class="text-primary" style="font-size: 18px">
                <tr>
                    <th scope="row" class="font-italic">
                        @LOGIN
                    </th>
                    <th scope="row" class="font-italic">
                        @EMAIL
                    </th>
                    <th scope="row" class="font-italic">
                        @ROLE
                    </th>
                    <th scope="row"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (ViewBag.Users != null)
                    {
                        foreach (UsersDto item in ViewBag.Users)
                        {
                            <tr style="font-weight:normal">
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserLogin)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserEmail)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserRole)
                                </td>
                                <td align="center">
                                    <button class="btn btn-warning text-white fa fa-edit" type="button" value="edit" id="@item.Id" onclick="Edit(this.id)" data-toggle="tooltip" data-placement="bottom" title="Редагувати"></button> |
                                    <button class="btn btn-danger text-white fa fa-trash" type="button" value="delete" id="@item.Id" onclick="Delete(this.id)" data-toggle="tooltip" data-placement="bottom" title="Видалити"></button>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    var DETAIL_TITLE = "Детальна інформація";
    var CREATE_TITLE = "Добавити користувача";
    var EDIT_TITLE = "Редагування";
    var DELETE_TITLE = "Ви впевнені, що бажаєте видалити даного користувача?";

    function Create() {
        document.getElementById("UserTitle").style.color = 'white';
        $('#UserTitle').text(function(i, oldText) {
            return CREATE_TITLE;
        });

        $.get("@Url.Action("CreateUser","User")",
            function (data) { $('.modal-body').html(data); });
        $('#UserModal').modal('show');

        $('#UserModal').on('hidden.bs.modal',
            function(e) {
                $('.modal-body').html("");
            });
    }

    function Edit(id) {
        document.getElementById("UserTitle").style.color = 'white';
        $('#UserTitle').text(function (i, oldText) {
            return EDIT_TITLE;
        });

        $.get("@Url.Action("EditUser", "User")/" + id,
            function (data) { $('.modal-body').html(data); });
        $('#UserModal').modal('show');

        $('#UserModal').on('hidden.bs.modal',
            function(e) {
                $('.modal-body').html("");
            });
    }

    function Delete(id) {
        document.getElementById("UserTitle").style.color = 'red';
        $('#UserTitle').text(function (i, oldText) {
            return DELETE_TITLE;
        });

        $.get("@Url.Action("DeleteUser", "User")/" + id,
            function (data) { $('.modal-body').html(data); });
        $('#UserModal').modal('show');

        $('#UserModal').on('hidden.bs.modal',
            function(e) {
                $('.modal-body').html("");
            });
    }
</script>
