﻿@using System.Web.UI.WebControls
@using Entities.ModelsDTO
@using Resourses.Enums
@model dynamic

@{
    var GROUP = "Група";
    var TRANSACTION = "Перехідна";
    var DAY_OF_WEEK = "День тижня";
    var TIME_LESSON = "Пара";
    var TYPE_LESSON = "Тип";
    var NUMBER_OF_WEEK = "Тиждень";
    var TEACHER = "Викладач";
    var AUDIENCE = "Аудиторія";
    var SUBJECT = "Предмет";

    var ADD_BUTTON_LABEL = "Добавити";

    var Groups = new List<ListItem> { };
    var Days = new List<ListItem> { };
    var NumbersOfWeek = new List<ListItem> { };
    var TypesOfLesson = new List<ListItem> { };
    var TimeLessons = new List<ListItem> { };
    var Teachers = new List<ListItem> { };
    var Subjects = new List<ListItem> { };
    var Audiences = new List<ListItem> { };

    if (ViewBag.Groups != null && ViewBag.TimeLessons != null &&
        ViewBag.Teachers != null && ViewBag.Subjects != null && ViewBag.Audiences != null)
    {
        foreach (GroupsDto g in ViewBag.Groups)
        {
            Groups.Add(new ListItem(g.Name, g.Id.ToString()));
        }
        foreach (TimeLessonsDto t in ViewBag.TimeLessons)
        {
            TimeLessons.Add(new ListItem(t.Id.ToString(), t.Id.ToString()));
        }
        foreach (SubjectsDto s in ViewBag.Subjects)
        {
            Subjects.Add(new ListItem(s.Name, s.Id.ToString()));
        }
        foreach (TeachersDto t in ViewBag.Teachers)
        {
            Teachers.Add(new ListItem(t.SecondName, t.Id.ToString()));
        }
        foreach (AudiencesDto a in ViewBag.Audiences)
        {
            Audiences.Add(new ListItem(a.Name, a.Id.ToString()));
        }
    }
    foreach (ScheduleEnums.DayOfWeek d in Enum.GetValues(typeof(ScheduleEnums.DayOfWeek)))
    {
        ListItem item = new ListItem(Enum.GetName(typeof(ScheduleEnums.DayOfWeek), d), d.ToString());
        Days.Add(item);
    }
    foreach (ScheduleEnums.NumberOfWeek n in Enum.GetValues(typeof(ScheduleEnums.NumberOfWeek)))
    {
        ListItem item = new ListItem(Enum.GetName(typeof(ScheduleEnums.NumberOfWeek), n), n.ToString());
        NumbersOfWeek.Add(item);
    }
    foreach (ScheduleEnums.TypeOfLessons t in Enum.GetValues(typeof(ScheduleEnums.TypeOfLessons)))
    {
        ListItem item = new ListItem(Enum.GetName(typeof(ScheduleEnums.TypeOfLessons), t), t.ToString());
        TypesOfLesson.Add(item);
    }

}

@using (Html.BeginForm())
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row justify-content-center  text-center">
            <div class="col-lg-3 col-md-4 col-sm-3 align-self-center text-center">
                <label class="text-primary font-weight-bold">@TEACHER</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                @Html.DropDownList("IdTeacher",new SelectList(Teachers, "Value", "Text"), new { @class = "btn btn-light dropdown-toggle", id = "IdTeacher" })
                @Html.ValidationMessage("IdTeacher", "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="row justify-content-center  text-center">
            <div class="col-lg-3 col-md-4 col-sm-3 align-self-center text-center">
                <label class="text-primary font-weight-bold ">@SUBJECT</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                @Html.DropDownList("IdSubject", new SelectList(Subjects, "Value", "Text"), new { @class = "btn btn-light dropdown-toggle w-75", id = "IdSubject" })
                @Html.ValidationMessage("IdSubject", "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="row justify-content-center  text-center">
            <div class="col-lg-3 col-md-4 col-sm-3 align-self-center">
                <label class="text-primary font-weight-bold">@AUDIENCE</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 text-center">
                @Html.DropDownList("IdAudience", new SelectList(Audiences, "Value", "Text"), new { @class = "btn btn-light dropdown-toggle", id = "IdAudience" })
                @Html.ValidationMessage("IdAudience", "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="row justify-content-center  text-center">
              <div class="col-lg-3 col-md-4 col-sm-3 align-self-center">
                  <label class="text-primary font-weight-bold">@GROUP</label>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8">
                  @Html.DropDownList("IdGroup", new SelectList(Groups, "Value", "Text"), new { @class = "btn btn-light dropdown-toggle", id = "IdGroup" })
                  @Html.ValidationMessage("IdGroup", "", new { @class = "text-danger" })
              </div>
        </div>
        <hr />
        <div class="row justify-content-center  text-center">
            <div class="col-lg-3 col-md-4 col-sm-3 align-self-center">
                <label class="text-primary font-weight-bold">@DAY_OF_WEEK</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                @Html.DropDownList("DayOfTheWeek", new SelectList(Days, "Value", "Text"), new { @class = "btn btn-light dropdown-toggle", id = "DayOfTheWeek" })
                @Html.ValidationMessage("DayOfTheWeek", "", new { @class = "text-danger" })
            </div>
        </div>
    <hr />
    <div class="row justify-content-center  text-center">
            <div class="col-lg-3 col-md-4 col-sm-3 align-self-center">
                <label class="text-primary font-weight-bold">@TYPE_LESSON</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                @Html.DropDownList("TypeOfLesson", new SelectList(TypesOfLesson, "Value", "Text"), new { @class = "btn btn-light dropdown-toggle", id = "TypeOfLesson" })
                @Html.ValidationMessage("TypeOfLesson", "", new { @class = "text-danger" })
            </div>
    </div>
    <hr />
    <div class="row justify-content-center  text-center">
            <div class="col-lg-3 col-md-4 col-sm-3 align-self-center">
                <label class="text-primary font-weight-bold">@NUMBER_OF_WEEK</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                @Html.DropDownList("NumberOfWeek", new SelectList(NumbersOfWeek, "Value", "Text"), new { @class = "btn btn-light dropdown-toggle", id = "NumberOfWeek" })
                @Html.ValidationMessage("NumberOfWeek", "", new { @class = "text-danger" })
            </div>
    </div>
    <hr />
    
    <div class="row justify-content-center  text-center">
            <div class="col-lg-3 col-md-4 col-sm-3 align-self-center">
                <label class="text-primary font-weight-bold">@TIME_LESSON</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                @Html.DropDownList("IdTimeLesson", new SelectList(TimeLessons, "Value", "Text"), new { @class = "btn btn-light dropdown-toggle", id = "IdTimeLesson" })
                @Html.ValidationMessage("IdTimeLesson", "", new { @class = "text-danger" })
            </div>
    </div>
    <hr />
    <div class="my-modal-footer">
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-outline-success" value="createSchedule">@ADD_BUTTON_LABEL</button>
        </div>
    </div>
}