﻿@using Entities.ModelsDTO
@using Resourses.Enums

@{

    var GROUP = "Група";
    var DAY_OF_WEEK = "День тижня";
    var TIME_LESSON = "Пара";
    var TYPE_LESSON = "Тип";
    var NUMBER_OF_WEEK = "Тиждень";
    var TEACHER = "Викладач";
    var AUDIENCE = "Аудиторія";
    var SUBJECT = "Предмет";

    var DELETE_BUTTON_TRUE = "Так";
    var DELETE_BUTTON_NO = "Ні";

    var group = new GroupsDto();
    var timeLesson = new TimeLessonsDto();
    var teacher = new TeachersDto();
    var subject = new SubjectsDto();
    var audience = new AudiencesDto();
    ScheduleEnums.DayOfWeek day = new ScheduleEnums.DayOfWeek();
    ScheduleEnums.NumberOfWeek numberOfWeek = new ScheduleEnums.NumberOfWeek();
    ScheduleEnums.TypeOfLessons typeOfLessons = new ScheduleEnums.TypeOfLessons();


    if (ViewBag.Group != null && ViewBag.TimeLesson != null &&
        ViewBag.Teacher != null && ViewBag.Subject != null &&
        ViewBag.Audience != null && ViewBag.DayOfWeek != null &&
        ViewBag.TypeOfLesson != null && ViewBag.NumberOfWeek != null)
    {
        group = ViewBag.Group;
        timeLesson = ViewBag.TimeLesson;
        teacher = ViewBag.Teacher;
        subject = ViewBag.Subject;
        audience = ViewBag.Audience;
        day = ViewBag.DayOfWeek;
        numberOfWeek = ViewBag.NumberOfWeek;
        typeOfLessons = ViewBag.TypeOfLesson;
    }
}

@using (Html.BeginForm("DeleteScheduleById", "Schedule", FormMethod.Post))
{
    <input id="Id" name="Id" type="hidden" value=@ViewBag.Id />
    <input id="TransactionId" name="TransactionId" type="hidden" value=@ViewBag.TransactionId />
    <div class="row justify-content-center text-center">
        <div class="col-lg-5 col-md-5 col-sm-5 align-self-center">
            <label class="text-primary font-weight-bold">@TEACHER</label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 text-white">
            @teacher.SecondName @teacher.FirstName[0].
        </div>
    </div>
    <hr />
    <div class="row justify-content-center text-center">
        <div class="col-lg-5 col-md-5 col-sm-5 align-self-center">
            <label class="text-primary font-weight-bold">@SUBJECT</label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 text-white">
            @subject.Name
        </div>
    </div>
    <hr />
    <div class="row justify-content-center text-center">
        <div class="col-lg-5 col-md-5 col-sm-5 align-self-center">
            <label class="text-primary font-weight-bold">@AUDIENCE</label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 text-white">
            @audience.Name
        </div>
    </div>
    <hr />
    <div class="row justify-content-center text-center">
        <div class="col-lg-5 col-md-5 col-sm-5 align-self-center">
            <label class="text-primary font-weight-bold">@GROUP</label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 text-white">
            @group.Name
        </div>
    </div>
    <hr />
    <div class="row justify-content-center text-center">
        <div class="col-lg-5 col-md-5 col-sm-5 align-self-center">
            <label class="text-primary font-weight-bold">@DAY_OF_WEEK</label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 text-white">
            @day
        </div>
    </div>
    <hr />
    <div class="row justify-content-center text-center">
        <div class="col-lg-5 col-md-5 col-sm-5 align-self-center">
            <label class="text-primary font-weight-bold">@TYPE_LESSON</label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 text-white">
            @typeOfLessons
        </div>
    </div>
    <hr />
    <div class="row justify-content-center text-center">
        <div class="col-lg-5 col-md-5 col-sm-5 align-self-center">
            <label class="text-primary font-weight-bold">@NUMBER_OF_WEEK</label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 text-white">
            @numberOfWeek
        </div>
    </div>
    <hr />
    <div class="row justify-content-center text-center">
        <div class="col-lg-5 col-md-5 col-sm-5 align-self-center">
            <label class="text-primary font-weight-bold">@TIME_LESSON</label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 text-white">
            <p>@timeLesson.StartLessons.ToString(@"hh\:mm")</p>
            <p>@timeLesson.FinishLessons.ToString(@"hh\:mm")</p>
        </div>
    </div>
    <hr />
    <div class="my-modal-footer text-center">
        <input type="submit" value="@DELETE_BUTTON_TRUE" class="btn btn-outline-danger mr-2 mt-2 ml-auto mb-2">
        @Html.ActionLink(DELETE_BUTTON_NO, "Schedules",
            new {controller = "Schedule"},
            new {@class = "btn btn-outline-success mr-auto mt-2 ml-2 mb-2"})
    </div>
}