﻿@using System.Web.UI.WebControls
@using Entities.ModelsDTO
@using Resourses.Enums

@{
    var GROUP = "Група";
    var TRANSACTION = "Перехідна";
    var DAY_OF_WEEK = "День тижня";
    var TIME_LESSON = "Пара";
    var TYPE_LESSON = "Тип";
    var NUMBER_OF_WEEK = "Тиждень";
    var TEACHER = "Викладач";
    var AUDIENCE = "Аудиторія";
    var SUBJECT = "Предмет";

    var EDIT_BUTTON_LABEL = "Зберегти";

    var Groups = new List<SelectListItem> { };
    var Transactions = new List<SelectListItem> { };
    var Days = new List<SelectListItem> { };
    var NumbersOfWeek = new List<SelectListItem> { };
    var TypesOfLesson = new List<SelectListItem> { };
    var TimeLessons = new List<SelectListItem> { };
    var Teachers = new List<SelectListItem> { };
    var Subjects = new List<SelectListItem> { };
    var Audiences = new List<SelectListItem> { };

    if (ViewBag.Groups != null && ViewBag.TimeLessons != null &&
        ViewBag.Teachers != null && ViewBag.Subjects != null && ViewBag.Audiences != null)
    {
        foreach (GroupsDto g in ViewBag.Groups)
        {
            if (g.Id == ViewBag.Group.Id)
            {
                Groups.Add(new SelectListItem{ Text = g.Name, Value = g.Id.ToString(), Selected = true });
            }
            else
            {
                Groups.Add(new SelectListItem { Text = g.Name, Value = g.Id.ToString()});
            }
        }
        foreach (TeachersDto t in ViewBag.Teachers)
        {
            if (t.Id == ViewBag.Teacher.Id)
            {
                Teachers.Add(new SelectListItem { Text = t.SecondName, Value = t.Id.ToString(), Selected = true });
            }
            else
            {
                Teachers.Add(new SelectListItem { Text = t.SecondName, Value = t.Id.ToString() });
            }
        }
        foreach (SubjectsDto s in ViewBag.Subjects)
        {
            if (s.Id == ViewBag.Subject.Id)
            {
                Subjects.Add(new SelectListItem { Text = s.Name, Value = s.Id.ToString(), Selected = true });
            }
            else
            {
                Subjects.Add(new SelectListItem { Text = s.Name, Value = s.Id.ToString() });
            }
        }
        foreach (AudiencesDto a in ViewBag.Audiences)
        {
            if (a.Id == ViewBag.Audience.Id)
            {
                Audiences.Add(new SelectListItem { Text = a.Name, Value = a.Id.ToString(), Selected = true });
            }
            else
            {
                Audiences.Add(new SelectListItem { Text = a.Name, Value = a.Id.ToString() });
            }
        }
        foreach (TimeLessonsDto t in ViewBag.TimeLessons)
        {
            if (t.Id == ViewBag.TimeLesson.Id)
            {
                TimeLessons.Add(new SelectListItem { Text = t.Id.ToString(), Value = t.Id.ToString(), Selected = true });
            }
            else
            {
                TimeLessons.Add(new SelectListItem { Text = t.Id.ToString(), Value = t.Id.ToString() });
            }
        }
        foreach (ScheduleEnums.DayOfWeek d in Enum.GetValues(typeof(ScheduleEnums.DayOfWeek)))
        {
            if (d == ViewBag.DayOfWeek)
            {
                Days.Add(new SelectListItem { Text = Enum.GetName(typeof(ScheduleEnums.DayOfWeek), d), Value = d.ToString(), Selected = true });
            }
            else
            {
                Days.Add(new SelectListItem { Text = Enum.GetName(typeof(ScheduleEnums.DayOfWeek), d), Value = d.ToString() });
            }
        }
        foreach (ScheduleEnums.TypeOfLessons t in Enum.GetValues(typeof(ScheduleEnums.TypeOfLessons)))
        {
            if (t == ViewBag.TypeOfLesson)
            {
                TypesOfLesson.Add(new SelectListItem { Text = Enum.GetName(typeof(ScheduleEnums.TypeOfLessons), t), Value = t.ToString(), Selected = true });
            }
            else
            {
                TypesOfLesson.Add(new SelectListItem { Text = Enum.GetName(typeof(ScheduleEnums.TypeOfLessons), t), Value = t.ToString() });
            }
        }
        foreach (ScheduleEnums.NumberOfWeek n in Enum.GetValues(typeof(ScheduleEnums.NumberOfWeek)))
        {
            if (n != ViewBag.NumberOfWeek)
            {
                NumbersOfWeek.Add(new SelectListItem { Text = Enum.GetName(typeof(ScheduleEnums.NumberOfWeek), n), Value = n.ToString() });
            }
            else
            {
                NumbersOfWeek.Add(new SelectListItem { Text = Enum.GetName(typeof(ScheduleEnums.NumberOfWeek), n), Value = n.ToString(), Selected = true });
            }
        }
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <input id="Id" name="Id" type="hidden" value=@ViewBag.Id />
    <input id="TransactionId" name="TransactionId" type="hidden" value=@ViewBag.TransactionId />
    <div class="row justify-content-center  text-center">
        <div class="col-lg-3 col-md-4 col-sm-3 align-self-center text-center">
            <label class="text-primary font-weight-bold">@TEACHER</label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            @Html.DropDownList("IdTeacher", Teachers, new { @class = "btn btn-light dropdown-toggle", id = "IdTeacher" })
            @Html.ValidationMessage("IdTeacher", "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="row justify-content-center  text-center">
        <div class="col-lg-3 col-md-4 col-sm-3 align-self-center text-center">
            <label class="text-primary font-weight-bold ">@SUBJECT</label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            @Html.DropDownList("IdSubject", Subjects , new { @class = "btn btn-light dropdown-toggle w-75", id = "IdSubject" })
            @Html.ValidationMessage("IdSubject", "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="row justify-content-center  text-center">
        <div class="col-lg-3 col-md-4 col-sm-3 align-self-center">
            <label class="text-primary font-weight-bold">@AUDIENCE</label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 text-center">
            @Html.DropDownList("IdAudience", Audiences, new { @class = "btn btn-light dropdown-toggle", id = "IdAudience" })
            @Html.ValidationMessage("IdAudience", "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="row justify-content-center  text-center">
        <div class="col-lg-3 col-md-4 col-sm-3 align-self-center">
            <label class="text-primary font-weight-bold">@GROUP</label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            @Html.DropDownList("IdGroup", Groups, new { @class = "btn btn-light dropdown-toggle", id = "IdGroup" })
            @Html.ValidationMessage("IdGroup", "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="row justify-content-center  text-center">
        <div class="col-lg-3 col-md-4 col-sm-3 align-self-center">
            <label class="text-primary font-weight-bold">@DAY_OF_WEEK</label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            @Html.DropDownList("DayOfTheWeek", Days, new { @class = "btn btn-light dropdown-toggle", id = "DayOfTheWeek" })
            @Html.ValidationMessage("DayOfTheWeek", "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="row justify-content-center  text-center">
        <div class="col-lg-3 col-md-4 col-sm-3 align-self-center">
            <label class="text-primary font-weight-bold">@TYPE_LESSON</label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            @Html.DropDownList("TypeOfLesson", TypesOfLesson, new { @class = "btn btn-light dropdown-toggle", id = "TypeOfLesson" })
            @Html.ValidationMessage("TypeOfLesson", "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="row justify-content-center  text-center">
        <div class="col-lg-3 col-md-4 col-sm-3 align-self-center">
            <label class="text-primary font-weight-bold">@NUMBER_OF_WEEK</label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            @Html.DropDownList("NumberOfWeek", NumbersOfWeek, new { @class = "btn btn-light dropdown-toggle", id = "NumberOfWeek" })
            @Html.ValidationMessage("NumberOfWeek", "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />

    <div class="row justify-content-center  text-center">
        <div class="col-lg-3 col-md-4 col-sm-3 align-self-center">
            <label class="text-primary font-weight-bold">@TIME_LESSON</label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            @Html.DropDownList("IdTimeLesson", TimeLessons, new { @class = "btn btn-light dropdown-toggle", id = "IdTimeLesson" })
            @Html.ValidationMessage("IdTimeLesson", "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="my-modal-footer">
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-outline-success" value="createSchedule">@EDIT_BUTTON_LABEL</button>
        </div>
    </div>
}