﻿@using System.Web.Mvc.Html
@using System.Web.UI.WebControls
@using Entities.ModelsDTO
@using Resourses.Enums
@model IEnumerable<Entities.ModelsDTO.SchedulesDto>

@{
    ViewBag.CurrentPage = "Schedules";
    var TITLE = "Розклад";
    var SEARCH = "Пошук";
    var NAME = "Назва";
    var DEPARTMENT = "Кафедра";
    var COURSE = "Курс";
    var MONDAY = "Понеділок";
    var TUESDAY = "Вівторок";
    var WEDNESDAY = "Середа";
    var THURSDAY = "Четвер";
    var FRIDAY = "П'ятниця";
    var SATURDAY = "Субота";
    var MONDAY_SHORT = "Пн";
    var TUESDAY_SHORT = "Вт";
    var WEDNESDAY_SHORT = "Ср";
    var THURSDAY_SHORT = "Чт";
    var FRIDAY_SHORT = "Пт";
    var SATURDAY_SHORT = "Сб";
    var NOSCHEDULE = "Вихідний!";

    var IsAllInstancesSet = false;
    var dropDownForGroups = new List<ListItem> { };
    List<GroupsDto> Groups = new List<GroupsDto>{};
    List<SchedulesDto> Schedules = new List<SchedulesDto> { };
    List<TransactionsDto> Transactions = new List<TransactionsDto> { };
    List<TimeLessonsDto> TimeLessons = new List<TimeLessonsDto> { };
    List<TeachersDto> Teachers = new List<TeachersDto> { };
    List<SubjectsDto> Subjects = new List<SubjectsDto> { };
    List<AudiencesDto> Audiences = new List<AudiencesDto> { } ;

    if (ViewBag.TimeLessons != null && ViewBag.Schedules != null && ViewBag.Transactions != null &&
        ViewBag.Teachers != null && ViewBag.Subjects != null && ViewBag.Audience != null)
    {
        Schedules = ViewBag.Schedules;
        Transactions = ViewBag.Transactions;
        TimeLessons = ViewBag.TimeLessons;
        Teachers = ViewBag.Teachers;
        Subjects = ViewBag.Subjects;
        Audiences = ViewBag.Audience;
        IsAllInstancesSet = true;
    }

    if (ViewBag.Groups != null)
    {
        foreach (GroupsDto g in ViewBag.Groups)
        {
            dropDownForGroups.Add(new ListItem(g.Name, g.Id.ToString()));
        }
    }
    Schedules = Schedules.OrderBy(s => s.IdTimeLessons).ToList();
    var existsTimeLessons = Schedules.GroupBy(x => x.IdTimeLessons).Select(x => x).ToList();

    int GetScheduleId(int idTime, ScheduleEnums.DayOfWeek day, ScheduleEnums.NumberOfWeek numberOfWeek)
    {
        var schedules = Schedules.FindAll(s => s.IdTimeLessons == idTime && s.DayOfTheWeek == day);
        if (schedules != null)
        {
            foreach (var s in schedules)
            {
                var schedulesId = (Transactions.FirstOrDefault
                    (t => t.Id == s.TransactionId &&
                          (t.NumberOfWeek == numberOfWeek || t.NumberOfWeek == ScheduleEnums.NumberOfWeek.All)) != null)? s.Id : 0;
                if (schedulesId > 0){ return schedulesId; }
            }
            return 0;
        }
        return 0;
    }
    string GetSchedule(int idTime, ScheduleEnums.DayOfWeek day, ScheduleEnums.NumberOfWeek numberOfWeek)
    {
        var schedule = Schedules.FirstOrDefault(s => s.Id == GetScheduleId(idTime, day, numberOfWeek));

        if (schedule != null)
        {
            var transaction = Transactions.FirstOrDefault(t => t.Id == schedule.TransactionId);
            if (transaction != null && (transaction.NumberOfWeek == numberOfWeek || transaction.NumberOfWeek == ScheduleEnums.NumberOfWeek.All))
            {
                var teacher = Teachers.FirstOrDefault(t => t.Id == transaction.IdTeacher);
                var subject = Subjects.FirstOrDefault(s => s.Id == transaction.IdSubject);
                var audience = Audiences.FirstOrDefault(a => a.Id == transaction.IdAudience);
                if (@subject != null && @teacher != null && @audience !=null)
                {
                    return $"<p>" + @subject.Name + "</p><p>" +
                           @teacher.SecondName + ' ' +
                           @teacher.FirstName[0] + '.' + "</p><p>"
                           + @transaction.TypeLessons + "</p><p>" +
                           @audience.Name + "</p>";
                }
            }
            return "<p>-</p>";
        }
        return "<p>-</p>";
    }
}
<div class="container-fluid">
    <div class="row justify-content-between mt-4 bg-dark">
        <div class="col-lg-2 col-md-5 col-sm-4 align-self-center">
            <h2 class="labels text-white">@TITLE</h2>
        </div>
        <div class="col-lg-7 col-md-4 col-sm-5 align-self-center text-center">
            @using (Html.BeginForm("Schedules", "Schedule", FormMethod.Get))
            {
                @Html.DropDownList("id", new SelectList(dropDownForGroups, "Value", "Text"), new { @class = "btn btn-light dropdown-toggle", id = "id" })
                <button type="submit" class="btn btn-outline-primary"><i class="fa fa-search"></i>@SEARCH</button>
            }
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 align-self-center text-center">
            <button class="btn btn-success text-white fa fa-plus m-1" type="button" value="create" onclick="Create()" data-toggle="tooltip" data-placement="bottom" title="Створити"></button>
        </div>
    </div>
    <div class="row justify-content-center border-top border-bottom" style="background-color: #2b3035">
        <ul class="nav breadcrumb p-0 mt-2 mb-2" style="font-family: Helvetica Neue; background-color: #2b3035;">
            <li class="breadcrumb-item active"><a data-toggle="tab" role="tab" href="#firstWeek" class="text-center active">I</a></li>
            <li class="breadcrumb-item"><a data-toggle="tab" role="tab" href="#secondWeek">II</a></li>
        </ul>
    </div>
    
    <div class="tab-content mb-4">
        <div id="firstWeek" class="tab-pane fade show active">
            <div class="row justify-content-center">
                <table class="table table-responsive-sm table-responsive-md table-dark w-100 table-bordered text-center font-weight-bold">
                    <thead class="text-primary" style="font-size: 15px; background-color: #2b3035">
                        <tr>
                            <th></th>
                            <th scope="col" class="font-italic">
                                <text class="d-lg-block d-none">@MONDAY</text>
                                <text class="d-md-block d-lg-none">@MONDAY_SHORT</text>
                            </th>
                            <th scope="col" class="font-italic">
                                <text class="d-lg-block d-none">@TUESDAY</text>
                                <text class="d-md-block d-lg-none">@TUESDAY_SHORT</text>
                            </th>
                            <th scope="col" class="font-italic">
                                <text class="d-lg-block d-none">@WEDNESDAY</text>
                                <text class="d-md-block d-lg-none">@WEDNESDAY_SHORT</text>
                            </th>
                            <th scope="col" class="font-italic">
                                <text class="d-lg-block d-none">@THURSDAY</text>
                                <text class="d-md-block d-lg-none">@THURSDAY_SHORT</text>
                            </th>
                            <th scope="col" class="font-italic">
                                <text class="d-lg-block d-none">@FRIDAY</text>
                                <text class="d-md-block d-lg-none">@FRIDAY_SHORT</text>
                            </th>
                            <th scope="col" class="font-italic">
                                <text class="d-lg-block d-none">@SATURDAY</text>
                                <text class="d-md-block d-lg-none">@SATURDAY_SHORT</text>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (IsAllInstancesSet)
                            {
                                foreach (var idTime in existsTimeLessons)
                                {
                                    var timeLesson = TimeLessons.First(t => t.Id == idTime.Key);
                                        <tr class="noMarginAndPadding" style="font-size: 15px;">
                                            <th scope="row" class="align-middle m-auto">
                                                <p>@timeLesson.StartLessons.ToString(@"hh\:mm")</p>
                                                <p>@timeLesson.FinishLessons.ToString(@"hh\:mm")</p>
                                            </th>
                                            <td class="align-middle m-auto">
                                                @{
                                                    @Html.Raw(@GetSchedule(idTime.Key, ScheduleEnums.DayOfWeek.Monday, ScheduleEnums.NumberOfWeek.First))
                                                    var idMondaySchedule = GetScheduleId(idTime.Key, ScheduleEnums.DayOfWeek.Monday, ScheduleEnums.NumberOfWeek.First);
                                                    if (idMondaySchedule != 0)
                                                    {
                                                        <button class="btn btn-warning text-white fa fa-edit" type="button" value="edit" id="@idMondaySchedule" onclick="Edit(this.id)" data-toggle="tooltip" data-placement="bottom" title="Редагувати"></button>
                                                        <button class="btn btn-danger text-white fa fa-trash" type="button" value="delete" id="@idMondaySchedule" onclick="Delete(this.id)" data-toggle="tooltip" data-placement="bottom" title="Видалити"></button>
                                                    }
                                                }
                                            </td>
                                            <td class="align-middle m-auto">
                                                @{
                                                    @Html.Raw(@GetSchedule(idTime.Key, ScheduleEnums.DayOfWeek.Tuesday, ScheduleEnums.NumberOfWeek.First))
                                                    var idTuesdaySchedule = GetScheduleId(idTime.Key, ScheduleEnums.DayOfWeek.Tuesday, ScheduleEnums.NumberOfWeek.First);
                                                    if (idTuesdaySchedule != 0)
                                                    {
                                                         <button class="btn btn-warning text-white fa fa-edit" type="button" value="edit" id="@idTuesdaySchedule" onclick="Edit(this.id)" data-toggle="tooltip" data-placement="bottom" title="Редагувати"></button>
                                                         <button class="btn btn-danger text-white fa fa-trash" type="button" value="delete" id="@idTuesdaySchedule" onclick="Delete(this.id)" data-toggle="tooltip" data-placement="bottom" title="Видалити"></button>
                                                     }
                                                }
                                            </td>
                                            <td class="align-middle m-auto">
                                            @{
                                                @Html.Raw(@GetSchedule(idTime.Key, ScheduleEnums.DayOfWeek.Wednesday, ScheduleEnums.NumberOfWeek.First))
                                                var idWednesdaySchedule = GetScheduleId(idTime.Key, ScheduleEnums.DayOfWeek.Wednesday, ScheduleEnums.NumberOfWeek.First);
                                                if (idWednesdaySchedule != 0)
                                                {
                                                    <button class="btn btn-warning text-white fa fa-edit" type="button" value="edit" id="@idWednesdaySchedule" onclick="Edit(this.id)" data-toggle="tooltip" data-placement="bottom" title="Редагувати"></button>
                                                    <button class="btn btn-danger text-white fa fa-trash" type="button" value="delete" id="@idWednesdaySchedule" onclick="Delete(this.id)" data-toggle="tooltip" data-placement="bottom" title="Видалити"></button>
                                                }
                                            }
                                            <td class="align-middle m-auto">
                                                @{
                                                    @Html.Raw(@GetSchedule(idTime.Key, ScheduleEnums.DayOfWeek.Thursday, ScheduleEnums.NumberOfWeek.First))
                                                    var idThursdaySchedule = GetScheduleId(idTime.Key, ScheduleEnums.DayOfWeek.Thursday, ScheduleEnums.NumberOfWeek.First);
                                                    if (idThursdaySchedule != 0)
                                                    {
                                                         <button class="btn btn-warning text-white fa fa-edit" type="button" value="edit" id="@idThursdaySchedule" onclick="Edit(this.id)" data-toggle="tooltip" data-placement="bottom" title="Редагувати"></button>
                                                         <button class="btn btn-danger text-white fa fa-trash" type="button" value="delete" id="@idThursdaySchedule" onclick="Delete(this.id)" data-toggle="tooltip" data-placement="bottom" title="Видалити"></button>
                                                    }
                                                }
                                            </td>
                                            <td class="align-middle m-auto">
                                                @{
                                                    @Html.Raw(@GetSchedule(idTime.Key, ScheduleEnums.DayOfWeek.Friday, ScheduleEnums.NumberOfWeek.First))
                                                    var idFridaySchedule = GetScheduleId(idTime.Key, ScheduleEnums.DayOfWeek.Friday, ScheduleEnums.NumberOfWeek.First);
                                                    if (idFridaySchedule != 0)
                                                    {
                                                         <button class="btn btn-warning text-white fa fa-edit" type="button" value="edit" id="@idFridaySchedule" onclick="Edit(this.id)" data-toggle="tooltip" data-placement="bottom" title="Редагувати"></button>
                                                         <button class="btn btn-danger text-white fa fa-trash" type="button" value="delete" id="@idFridaySchedule" onclick="Delete(this.id)" data-toggle="tooltip" data-placement="bottom" title="Видалити"></button>
                                                    }
                                                }
                                            </td>
                                            <td class="align-middle m-auto">
                                                @{
                                                    @Html.Raw(@GetSchedule(idTime.Key, ScheduleEnums.DayOfWeek.Saturday, ScheduleEnums.NumberOfWeek.First))
                                                    var idSaturdaySchedule = GetScheduleId(idTime.Key, ScheduleEnums.DayOfWeek.Saturday, ScheduleEnums.NumberOfWeek.First);
                                                    if (idSaturdaySchedule != 0)
                                                    {
                                                         <button class="btn btn-warning text-white fa fa-edit" type="button" value="edit" id="@idSaturdaySchedule" onclick="Edit(this.id)" data-toggle="tooltip" data-placement="bottom" title="Редагувати"></button>
                                                         <button class="btn btn-danger text-white fa fa-trash" type="button" value="delete" id="@idSaturdaySchedule" onclick="Delete(this.id)" data-toggle="tooltip" data-placement="bottom" title="Видалити"></button>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div id="secondWeek" class="tab-pane fade in">
                <div class="row justify-content-center">
                    <table class="table table-responsive-sm table-responsive-md table-dark w-100 table-bordered text-center font-weight-bold">
                    <thead class="text-primary" style="font-size: 15px; background-color: #2b3035">
                            <tr>
                                <th></th>
                                <th scope="col" class="font-italic">
                                    <text class="d-lg-block d-none">@MONDAY</text>
                                    <text class="d-md-block d-lg-none">@MONDAY_SHORT</text>
                                </th>
                                <th scope="col" class="font-italic">
                                    <text class="d-lg-block d-none">@TUESDAY</text>
                                    <text class="d-md-block d-lg-none">@TUESDAY_SHORT</text>
                                </th>
                                <th scope="col" class="font-italic">
                                    <text class="d-lg-block d-none">@WEDNESDAY</text>
                                    <text class="d-md-block d-lg-none">@WEDNESDAY_SHORT</text>
                                </th>
                                <th scope="col" class="font-italic">
                                    <text class="d-lg-block d-none">@THURSDAY</text>
                                    <text class="d-md-block d-lg-none">@THURSDAY_SHORT</text>
                                </th>
                                <th scope="col" class="font-italic">
                                    <text class="d-lg-block d-none">@FRIDAY</text>
                                    <text class="d-md-block d-lg-none">@FRIDAY_SHORT</text>
                                </th>
                                <th scope="col" class="font-italic">
                                    <text class="d-lg-block d-none">@SATURDAY</text>
                                    <text class="d-md-block d-lg-none">@SATURDAY_SHORT</text>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (IsAllInstancesSet)
                                {
                                    foreach (var idTime in existsTimeLessons)
                                    {
                                        var timeLesson = TimeLessons.First(t => t.Id == idTime.Key);
                                        <tr class="noMarginAndPadding" style="font-size: 15px;">
                                            <th scope="row" class="align-middle m-auto">
                                                <p>@timeLesson.StartLessons.ToString(@"hh\:mm")</p>
                                                <p>@timeLesson.FinishLessons.ToString(@"hh\:mm")</p>
                                            </th>
                                            <td class="align-middle m-auto">
                                                @{
                                                    @Html.Raw(@GetSchedule(idTime.Key, ScheduleEnums.DayOfWeek.Monday, ScheduleEnums.NumberOfWeek.Second))
                                                    var idMondaySchedule = GetScheduleId(idTime.Key, ScheduleEnums.DayOfWeek.Monday, ScheduleEnums.NumberOfWeek.Second);
                                                    if (idMondaySchedule != 0)
                                                    {
                                                        <button class="btn btn-warning text-white fa fa-edit " type="button" value="edit" id="@idMondaySchedule" onclick="Edit(this.id)" data-toggle="tooltip" data-placement="bottom" title="Редагувати"></button>
                                                        <button class="btn btn-danger text-white fa fa-trash" type="button" value="delete" id="@idMondaySchedule" onclick="Delete(this.id)" data-toggle="tooltip" data-placement="bottom" title="Видалити"></button>
                                                    }
                                                }
                                            </td>
                                            <td class="align-middle m-auto">
                                                @{
                                                    @Html.Raw(@GetSchedule(idTime.Key, ScheduleEnums.DayOfWeek.Tuesday, ScheduleEnums.NumberOfWeek.Second))
                                                    var idTuesdaySchedule = GetScheduleId(idTime.Key, ScheduleEnums.DayOfWeek.Tuesday, ScheduleEnums.NumberOfWeek.Second);
                                                    if (idTuesdaySchedule != 0)
                                                    {
                                                        <button class="btn btn-warning text-white fa fa-edit " type="button" value="edit" id="@idTuesdaySchedule" onclick="Edit(this.id)" data-toggle="tooltip" data-placement="bottom" title="Редагувати"></button>
                                                        <button class="btn btn-danger text-white fa fa-trash" type="button" value="delete" id="@idTuesdaySchedule" onclick="Delete(this.id)" data-toggle="tooltip" data-placement="bottom" title="Видалити"></button>
                                                    }
                                                }
                                            </td>
                                            <td class="align-middle m-auto">
                                                @{
                                                    @Html.Raw(@GetSchedule(idTime.Key, ScheduleEnums.DayOfWeek.Wednesday, ScheduleEnums.NumberOfWeek.Second))
                                                    var idWednesdaySchedule = GetScheduleId(idTime.Key, ScheduleEnums.DayOfWeek.Wednesday, ScheduleEnums.NumberOfWeek.Second);
                                                    if (idWednesdaySchedule != 0)
                                                    {
                                                        <button class="btn btn-warning text-white fa fa-edit " type="button" value="edit" id="@idWednesdaySchedule" onclick="Edit(this.id)" data-toggle="tooltip" data-placement="bottom" title="Редагувати"></button>
                                                        <button class="btn btn-danger text-white fa fa-trash" type="button" value="delete" id="@idWednesdaySchedule" onclick="Delete(this.id)" data-toggle="tooltip" data-placement="bottom" title="Видалити"></button>
                                                    }
                                                }
                                            <td class="align-middle m-auto"> 
                                                @{
                                                    @Html.Raw(@GetSchedule(idTime.Key, ScheduleEnums.DayOfWeek.Thursday, ScheduleEnums.NumberOfWeek.Second))
                                                    var idThursdaySchedule = GetScheduleId(idTime.Key, ScheduleEnums.DayOfWeek.Thursday, ScheduleEnums.NumberOfWeek.Second);
                                                    if (idThursdaySchedule != 0)
                                                    {
                                                        <button class="btn btn-warning text-white fa fa-edit " type="button" value="edit" id="@idThursdaySchedule" onclick="Edit(this.id)" data-toggle="tooltip" data-placement="bottom" title="Редагувати"></button>
                                                        <button class="btn btn-danger text-white fa fa-trash" type="button" value="delete" id="@idThursdaySchedule" onclick="Delete(this.id)" data-toggle="tooltip" data-placement="bottom" title="Видалити"></button>
                                                    }
                                                }
                                            </td>
                                            <td class="align-middle m-auto">
                                                @{
                                                    @Html.Raw(@GetSchedule(idTime.Key, ScheduleEnums.DayOfWeek.Friday, ScheduleEnums.NumberOfWeek.Second))
                                                    var idFridaySchedule = GetScheduleId(idTime.Key, ScheduleEnums.DayOfWeek.Friday, ScheduleEnums.NumberOfWeek.Second);
                                                    if (idFridaySchedule != 0)
                                                    {
                                                        <button class="btn btn-warning text-white fa fa-edit " type="button" value="edit" id="@idFridaySchedule" onclick="Edit(this.id)" data-toggle="tooltip" data-placement="bottom" title="Редагувати"></button>
                                                        <button class="btn btn-danger text-white fa fa-trash" type="button" value="delete" id="@idFridaySchedule" onclick="Delete(this.id)" data-toggle="tooltip" data-placement="bottom" title="Видалити"></button>
                                                    }
                                                }
                                            </td>
                                            <td class="align-middle m-auto">
                                                @{
                                                    @Html.Raw(@GetSchedule(idTime.Key, ScheduleEnums.DayOfWeek.Saturday, ScheduleEnums.NumberOfWeek.Second))
                                                    var idSaturdaySchedule = GetScheduleId(idTime.Key, ScheduleEnums.DayOfWeek.Saturday, ScheduleEnums.NumberOfWeek.Second);
                                                    if (idSaturdaySchedule != 0)
                                                    {
                                                        <button class="btn btn-warning text-white fa fa-edit" type="button" value="edit" id="@idSaturdaySchedule" onclick="Edit(this.id)" data-toggle="tooltip" data-placement="bottom" title="Редагувати"></button>
                                                        <button class="btn btn-danger text-white fa fa-trash" type="button" value="delete" id="@idSaturdaySchedule" onclick="Delete(this.id)" data-toggle="tooltip" data-placement="bottom" title="Видалити"></button>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>

<script>
        var CREATE_TITLE = "Добавити розклад";
        var EDIT_TITLE = "Редагування";
        var DELETE_TITLE = "Ви впевнені, що бажаєте видалити даний розклад?";

        function Create() {
            document.getElementById("ScheduleTitle").style.color = 'white';
            $('#ScheduleTitle').text(function(i, oldText) {
                return CREATE_TITLE;
            });

            $.get("@Url.Action("CreateSchedule","Schedule")",
                function (data) { $('.modal-body').html(data); });
            $('#ScheduleModal').modal('show');

            $('#ScheduleModal').on('hidden.bs.modal',
                function(e) {
                    $('.modal-body').html("");
                });
        }

        function Edit(id) {
            document.getElementById("ScheduleTitle").style.color = 'white';
            $('#ScheduleTitle').text(function (i, oldText) {
                return EDIT_TITLE;
            });

            $.get("@Url.Action("EditSchedule", "Schedule")/" + id,
                function (data) { $('.modal-body').html(data); });
            $('#ScheduleModal').modal('show');

            $('#ScheduleModal').on('hidden.bs.modal',
                function (e) {
                    $('.modal-body').html("");
                });
        }

        function Delete(id) {
            document.getElementById("ScheduleTitle").style.color = 'red';
            $('#ScheduleTitle').text(function (i, oldText) {
                return DELETE_TITLE;
            });

            $.get("@Url.Action("DeleteSchedule", "Schedule")/" + id,
                function (data) { $('.modal-body').html(data); });
            $('#ScheduleModal').modal('show');

            $('#ScheduleModal').on('hidden.bs.modal',
                function (e) {
                    $('.modal-body').html("");
                });
        }
    </script>
