﻿@model Entities.ModelsDTO.GroupsDto
@using Entities.ModelsDTO
@{
    var ENTER = "Вхід";
    var ENTER_BUTTTON = "Увійти";
    var EMAIL = "Email";
    var INPUT_EMAIL = "Введіть email";
    var PASSWORD = "Пароль";
    var INPUT_PASSWORD = "Введіть пароль";
    var ERROR_MESSAGE = "";
}
<body>
    @*<div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <section id="loginForm">
                                @using (Html.BeginForm("RegisteredUser", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <div>
                                            <h5 class="user-name login-labels"><i class="fa fa-user" aria-hidden="true"></i> User Name</h5>
                                        </div>
                                        <div class="col-md-8 login-input">
                                            @Html.TextBoxFor(m => m.UserEmail, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.UserEmail, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h5 class="user-password login-labels"><i class="fa fa-lock" aria-hidden="true"></i> Password</h5>
                                        <div class="col-md-8 login-input">
                                            @Html.PasswordFor(m => m.UserPassword, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.UserPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-10 login-btn">
                                            <input type="submit" value="Log in" class="btn btn-primary" />
                                        </div>
                                    </div>
                                    @* Enable this once you have account confirmation enabled for password reset functionality
                                    <p>
                                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                    </p>
                                }
                            </section>
                        </div>
                    </div>
                 </div>
             </div>
        </div>
     </div>*@

    <div class="modal fade" id="StudentModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="labels text-center ml-3 mr-2 mt-2 mb-2" id="StudentTitle"></h3>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">&times;</button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="TeacherModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="labels text-center ml-3 mr-2 mt-2 mb-2" id="TeacherTitle"></h3>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">&times;</button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="SubjectModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="labels text-center ml-3 mr-2 mt-2 mb-2" id="SubjectTitle"></h3>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">&times;</button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="DepartmentModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="labels text-center ml-3 mr-2 mt-2 mb-2" id="DepartmentTitle"></h3>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">&times;</button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="AudienceModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="labels text-center ml-3 mr-2 mt-2 mb-2" id="AudienceTitle"></h3>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">&times;</button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="GroupModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="labels text-center ml-3 mr-2 mt-2 mb-2" id="GroupTitle"></h3>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">&times;</button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ScheduleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="labels text-center ml-3 mr-2 mt-2 mb-2" id="ScheduleTitle"></h3>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">&times;</button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="UserModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="labels text-center ml-3 mr-2 mt-2 mb-2" id="UserTitle"></h3>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">&times;</button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
</body>
    