﻿html {
    width: 100%;
    height: 100%;
    word-wrap: break-word;
}

.form-horizontal {
    color: white;
}

.createStudent {
    border-radius: 5px;
    width: 100%;
}

.labels {
    font-style: italic;
    text-align: center;
    font-size: 30px;
}
.noMarginAndPadding p {
    margin: 0 0 0 0;
    font-weight: normal;
}

.myContainer {
    border-radius: 5px;
    background: rgba(33, 37, 41,1);
    width: 100%;
    margin-bottom: 20px;
}

.footer {
    font-style: italic;
    bottom: 0;
    position: relative;
    width: 100%;
    background: rgba(33, 37, 41,1);
}

a {
    color: rgb(66, 185, 244);
    text-decoration: none;
}

.footer p:hover {
    color: rgba(255,255,255,1);
}

#navbarSupportedContent {
    width: 100%;
}

.bg-dark-oparcity {
    background: rgba(255, 144, 0, 0.5);
    color: rgba(255,255,255,0.4);
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

    .fadeIn.first {
        -webkit-animation-delay: 0.4s;
        -moz-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }

    .fadeIn.second {
        -webkit-animation-delay: 0.6s;
        -moz-animation-delay: 0.6s;
        animation-delay: 0.6s;
    }

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}



input[type=text]:focus {
    background-color: #fff;
    border-bottom: 3px solid red;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

    .fadeIn.first {
        -webkit-animation-delay: 0.4s;
        -moz-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }

    .fadeIn.second {
        -webkit-animation-delay: 0.6s;
        -moz-animation-delay: 0.6s;
        animation-delay: 0.6s;
    }

    .fadeIn.third {
        -webkit-animation-delay: 0.8s;
        -moz-animation-delay: 0.8s;
        animation-delay: 0.8s;
    }

    .fadeIn.fourth {
        -webkit-animation-delay: 1s;
        -moz-animation-delay: 1s;
        animation-delay: 1s;
    }

.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
}

    .underlineHover:hover:after {
        width: 100%;
    }

*:focus {
    outline: none;
}

#icon {
    width: 30%;
}

#myModal-content {
    background: rgba(255, 255, 255, 0.8);
}

.form-control-borderless {
    border: black solid;
}

    .form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }

@media screen and (min-width: 901px) {
    .navbar-nav li, a {
        font-size: 17px;
    }
}
@media screen and (max-width: 900px) {
    .navbar-nav li, a {
        font-size: 15px;
    }
}




@media screen and (min-width: 1100px) {
    .contact-link {
        font-size: 25px;
    }
}
.nav-item {
    display: block;
    margin: auto;
}
.nav-item:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.modal-header {
    background: rgba(33, 37, 41,1);
}

.modal-body {
    background: rgba(53, 57, 61,1);
}

.myJumbotron {
    width: 100%;
    padding: 0;
}

.carousel-fade {
    position: relative;
}

.slide-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    z-index: 3;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    -webkit-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    -o-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}

.carousel-item img {
    width: 100%;
}

.slide-text h1 {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    z-index: 2;
}


@media screen and (min-width: 980px) {
    .slide-text {
        width: 980px;
    }
}

@media screen and (max-width: 640px) {
    .slide-text h1 {
        font-size: 4em;
    }
}

.carousel-fade .carousel-inner .carousel-item {
    transition-property: opacity;
}

.body-content {
    min-height: 750px;
    min-width: 100%;
}


#navbar-menu .active {
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
}

    #navbar-menu .active span {
        color: yellow;
    }

    #navbar-menu .active a {
        color: white;
    }

#navbar-menu .unactive span {
    color: white;
}

#navbar-menu .unactive a {
    color: rgb(0, 97, 255);
}

footer {
    width: 100%;
    bottom: 0;
    font-weight: lighter;
    color: white;
}

.footerHeader {
    width: 100%;
    padding: 0.8em;
    background-color: rgba(52, 73, 94,1.0);
    text-align: center;
    color: white;
}

footer h3 {
    font-weight: lighter;
}

footer ul {
    padding-left: 5px;
    list-style: none;
}

footer p {
    text-align: justify;
    font-size: 12px;
}

footer iframe {
    width: 100%;
    position: relative;
    height: 170px;
}

.sm {
    list-style: none;
    overflow: auto;
}

    .sm li {
        display: inline;
        float: left;
    }

        .sm li a img {
            width: 32px;
        }

.techicalSkillsGrid img {
    width: 75px;
    display: block;
    margin: auto;
}
.my-modal-footer {
}
.breadcrumb a.active {
    color: yellow;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    padding: 3px 7px 3px 7px;
} 
p {
    font-weight:normal;
}