﻿@using System.Web.UI.WebControls
@using Entities.ModelsDB
@using Entities.ModelsDTO
@using Resourses.Enums
@model Entities.ModelsDTO.TeachersDto
@{
    var TEACHER_NAME = "Ім'я";
    var TEACHER_SURNAME = "Прізвище";
    var TEACHER_LOGIN = "Користувач";
    var TEACHER_DEPARTMENT = "Кафедра";
    var TEACHER_POSITION = "Посада";

    var ADD_BUTTON_LABEL = "Добавити";

    var listDepartments = new List<ListItem> { };
    var listUsers = new List<ListItem> { };
    var listPositions = new List<ListItem> { };

    if (ViewBag.Departments != null && ViewBag.Users != null)
    {
        foreach (DepartmentsDto d in ViewBag.Departments)
        {
            listDepartments.Add(new ListItem(d.Name, d.Id.ToString()));
        }
        foreach (UsersDto u in ViewBag.Users)
        {
            listUsers.Add(new ListItem(u.UserLogin, u.Id.ToString()));
        }
    }
    foreach (ScheduleEnums.TeacherPosition r in Enum.GetValues(typeof(ScheduleEnums.TeacherPosition)))
    {
        ListItem item = new ListItem(Enum.GetName(typeof(ScheduleEnums.TeacherPosition), r), r.ToString());
        listPositions.Add(item);
    }
}


@if (ViewBag.Success == null || ViewBag.Success == false)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4 col-sm-3 align-self-center text-center">
                <label class="text-primary font-weight-bold">@TEACHER_NAME</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                @Html.EditorFor(model => model.FirstName, new {htmlAttributes = new {@class = "form-control", id = "firstname"}})
                @Html.ValidationMessageFor(model => model.FirstName, "", new {@class = "text-danger"})
            </div>
        </div>
        <hr/>
        <div class="row justify-content-center text-center">
            <div class="col-lg-3 col-md-4 col-sm-3 align-self-center">
                <label class="text-primary font-weight-bold ">@TEACHER_SURNAME</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                @Html.EditorFor(model => model.SecondName, new {htmlAttributes = new {@class = "form-control", id = "secondname"}})
                @Html.ValidationMessageFor(model => model.SecondName, "", new {@class = "text-danger"})
            </div>
        </div>
        <hr/>
        <div class="row justify-content-center text-center">
            <div class="col-lg-3 col-md-4 col-sm-3 align-self-center">
                <label class="text-primary font-weight-bold">@TEACHER_DEPARTMENT</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                @Html.DropDownListFor(model => model.IdDepartment, new SelectList(listDepartments, "Value", "Text"), new {@class = "btn btn-light dropdown-toggle", id = "department"})
                @Html.ValidationMessageFor(model => model.IdDepartment, "", new {@class = "text-danger"})
            </div>
        </div>
        <hr/>
        <div class="row justify-content-center text-center">
            <div class="col-lg-3 col-md-4 col-sm-3 align-self-center">
                <label class="text-primary font-weight-bold">@TEACHER_POSITION</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                @Html.DropDownListFor(model => model.Position, new SelectList(listPositions, "Value", "Text"), new {@class = "btn btn-light dropdown-toggle", id = "position"})
                @Html.ValidationMessageFor(model => model.Position, "", new {@class = "text-danger"})
            </div>
        </div>

        <hr/>
        <div class="row justify-content-center text-center">
            <div class="col-lg-3 col-md-4 col-sm-3 align-self-center text-center">
                <label class="text-primary font-weight-bold">@TEACHER_LOGIN</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                @Html.DropDownListFor(model => model.IdUser, new SelectList(listUsers, "Value", "Text"), new {@class = "btn btn-light dropdown-toggle", id = "user"})
                @Html.ValidationMessageFor(model => model.IdUser, "", new {@class = "text-danger"})
            </div>
        </div>
        <hr/>
        <div class="my-modal-footer">
            <div class="row justify-content-center">
                <button type="submit" class="btn btn btn-outline-success">@ADD_BUTTON_LABEL</button>
            </div>
        </div>
    }
}
else
{
<script>
    $('#TeacherModal').modal('hide');
    $(location).attr('href', "@Url.Action("Teachers", "Teacher")");
</script>
}

<script>
    var CREATE_TITLE = "Добавити викладача";
    function PostCreate() {
        document.getElementById("TeacherTitle").style.color = 'white';
        $('#TeacherTitle').text(function(i, oldText) {
            return CREATE_TITLE;
        });
        var source = {
            'FirstName': $('#firstname').val(),
            'SecondName': 'a'
        }
        var posting = $.post("@Url.Action("CreateTeacher", "Teacher")",
            {
                data: source
            }
        );
        posting.done(function(data) {
            @{
                if (ViewBag.Success != null && ViewBag.Success)
                {
                    <text>
                        $('#TeacherModal').remove();
                        $('.modal-body').remove();
                    </text>
                }
                else
                {
                    <text>
                        $('.modal-body').html(data);
                    </text>
                }
            }
        });

        $('#TeacherModal').modal('show');
        $('#TeacherModal').on('hidden.bs.modal',
            function(e) {
                $('.modal-body').html("");
            });
    }
</script>

