﻿@using Entities.ModelsDTO
@model Entities.ModelsDTO.TeachersDto

@{
    var TEACHER_NAME = "Ім'я";
    var TEACHER_SURNAME = "Прізвище";
    var TEACHER_LOGIN = "Користувач";
    var TEACHER_DEPARTMENT = "Кафедра";
    var TEACHER_POSITION = "Посада";

    var DELETE_BUTTON_TRUE = "Так";
    var DELETE_BUTTON_NO = "Ні";

    DepartmentsDto department = ViewBag.Department;
    UsersDto user = ViewBag.User;
    var position = Model.Position;
}

@using (Html.BeginForm("DeleteTeacherById", "Teacher", FormMethod.Post))
{
    @Html.HiddenFor(model => model.Id)
    <div class="row justify-content-center text-center">
        <div class="col-lg-5 col-md-5 col-sm-5 align-self-center">
            <label class="text-primary font-weight-bold">@TEACHER_NAME</label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 text-white">
            @Html.DisplayFor(model => model.FirstName)
        </div>
    </div>
    <hr/>
    <div class="row justify-content-center text-center">
        <div class="col-lg-5 col-md-5 col-sm-5 align-self-center">
            <label class="text-primary font-weight-bold">@TEACHER_SURNAME</label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 text-white">
            @Html.DisplayFor(model => model.SecondName)
        </div>
    </div>
    <hr/>
    <div class="row justify-content-center text-center">
        <div class="col-lg-5 col-md-5 col-sm-5 align-self-center">
            <label class="text-primary font-weight-bold">@TEACHER_POSITION</label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 text-white">
            @position
        </div>
    </div>
    <hr/>
    <div class="row justify-content-center text-center">
        <div class="col-lg-5 col-md-5 col-sm-5 align-self-center">
            <label class="text-primary font-weight-bold">@TEACHER_DEPARTMENT</label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 text-white">
            @department.Name
        </div>
    </div>
    <hr/>
    <div class="row justify-content-center text-center">
        <div class="col-lg-5 col-md-5 col-sm-5 align-self-center">
            <label class="text-primary font-weight-bold">@TEACHER_LOGIN</label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 text-white">
            @user.UserLogin
        </div>
    </div>
    <hr/>
    <div class="my-modal-footer text-center">
        <input type="submit" name="id" value="@DELETE_BUTTON_TRUE" class="btn btn-outline-danger mr-2 mt-2 ml-auto mb-2">
        @Html.ActionLink(DELETE_BUTTON_NO, "Teachers",
            new {controller = "Teacher"},
            new {@class = "btn btn-outline-success mr-auto mt-2 ml-2 mb-2"})
    </div>
}
