﻿@using Entities.ModelsDTO
@using Resourses.Enums
@model Entities.ModelsDTO.TeachersDto

@{
    var TEACHER_NAME = "Ім'я";
    var TEACHER_SURNAME = "Прізвище";
    var TEACHER_LOGIN = "Користувач";
    var TEACHER_DEPARTMENT = "Кафедра";
    var TEACHER_POSITION = "Посада";
    var EDIT_BUTTON_LABEL = "Зберегти";

    var listDepartments = new List<SelectListItem> { };
    var listUsers = new List<SelectListItem> { };
    var listPositions = new List<SelectListItem> { };

    if (ViewBag.Departments != null && ViewBag.Users != null)
    {
        foreach (DepartmentsDto d in ViewBag.Departments)
        {
            if (d.Id == Model.IdDepartment)
            {
                listDepartments.Add(new SelectListItem { Text = d.Name, Value = d.Id.ToString(), Selected = true });
            }
            else
            {
                listDepartments.Add(new SelectListItem() { Text = d.Name, Value = d.Id.ToString(), Selected = false });
            }
        }

        foreach (UsersDto u in ViewBag.Users)
        {
            if (u.Id == Model.IdUser)
            {
                listUsers.Add(new SelectListItem { Text = u.UserLogin, Value = u.Id.ToString(), Selected = true });
            }
            else
            {
                listUsers.Add(new SelectListItem { Text = u.UserLogin, Value = u.Id.ToString() });
            }
        }
    }
    foreach (ScheduleEnums.TeacherPosition c in Enum.GetValues(typeof(ScheduleEnums.TeacherPosition)))
    {
        if (c == Model.Position)
        {
            listPositions.Add(new SelectListItem { Text = Enum.GetName(typeof(ScheduleEnums.TeacherPosition), c), Value = c.ToString(), Selected = true });
        }
        else
        {
            listPositions.Add(new SelectListItem { Text = Enum.GetName(typeof(ScheduleEnums.TeacherPosition), c), Value = c.ToString() });
        }
    }
}

@if (ViewBag.Success == null || ViewBag.Success == false)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4 col-sm-3 align-self-center text-center">
                <label class="text-primary font-weight-bold">@TEACHER_NAME</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", id = "EditTeacherFirstName" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="row justify-content-center text-center">
            <div class="col-lg-3 col-md-4 col-sm-3 align-self-center">
                <label class="text-primary font-weight-bold ">@TEACHER_SURNAME</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                @Html.EditorFor(model => model.SecondName, new { htmlAttributes = new { @class = "form-control", id = "EditTeacherSecondName" } })
                @Html.ValidationMessageFor(model => model.SecondName, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="row justify-content-center text-center">
            <div class="col-lg-3 col-md-4 col-sm-3 align-self-center">
                <label class="text-primary font-weight-bold">@TEACHER_DEPARTMENT</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                @Html.DropDownListFor(model => model.IdDepartment, new SelectList(listDepartments, "Value", "Text"), new { @class = "btn btn-light dropdown-toggle", id = "EditTeacherIdDepartment" })
                @Html.ValidationMessageFor(model => model.IdDepartment, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="row justify-content-center text-center">
            <div class="col-lg-3 col-md-4 col-sm-3 align-self-center">
                <label class="text-primary font-weight-bold">@TEACHER_POSITION</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                @Html.DropDownListFor(model => model.Position, new SelectList(listPositions, "Value", "Text"), new { @class = "btn btn-light dropdown-toggle", id = "EditTeacherPosition" })
                @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <hr />
        <div class="row justify-content-center text-center">
            <div class="col-lg-3 col-md-4 col-sm-3 align-self-center text-center">
                <label class="text-primary font-weight-bold">@TEACHER_LOGIN</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                @Html.DropDownListFor(model => model.IdUser, new SelectList(listUsers, "Value", "Text"), new { @class = "btn btn-light dropdown-toggle", id = "EditTeacherIdUser" })
                @Html.ValidationMessageFor(model => model.IdUser, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="my-modal-footer">
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-outline-success" value="create">@EDIT_BUTTON_LABEL</button>
            </div>
        </div>
    }
}
else
{
    <script>
    $('#TeacherModal').modal('hide');
    $(location).attr('href', "@Url.Action("Teachers", "Teacher")");
    </script>
}

<script>
    var EDIT_TITLE = "Редагування";
    function PostEditTeacher() {
        document.getElementById("TeacherTitle").style.color = 'white';
        $('#TeacherTitle').text(function(i, oldText) {
            return EDIT_TITLE;
        });

        var posting = $.post("@Url.Action("EditTeacher", "Teacher")",
            {
                Firstname: $('#EditTeacherFirstName').val(),
                Secondname: $('#EditTeacherSecondName').val(),
                Position: $('#EditTeacherPosition').val(),
                IdDepartment: $('#EditTeacherIdDepartment').val(),
                IdUser: $('#EditTeacherIdUser').val()
            }
        );
        posting.done(function(data) {
            @{
                if (ViewBag.Success != null && ViewBag.Success)
                {
                    <text>
                        $('#TeacherModal').remove();
                        $('.modal-body').remove();
                    </text>
                }
                else
                {
                    <text>
                        $('.modal-body').html(data);
                    </text>
                }
            }
        });

        $('#TeacherModal').modal('show');
        $('#TeacherModal').on('hidden.bs.modal',
            function(e) {
                $('.modal-body').html("");
            });
    }
</script>
