﻿@using System.Web.UI.WebControls
@using BusinessLogicLayer.Services
@using Entities.ModelsDTO
@using Resourses.Enums
@using Resourses.Parsers
@using SharedLibrary.HttpServices
@{
    ViewBag.CurrentPage = "Teachers";
    var TITLE = "Викладачі";
    var SEARCH = "Пошук";
    var NAME = "Ім'я";
    var SURNAME = "Прізвище";
    var POSITION = "Посада";
    var DEPARTMENT = "Кафедра";
    var dropDownForPosition = new List<ListItem>();
    var dropDownForDepartment = new List<ListItem>();
    DepartmentHttpService departmentService = new DepartmentHttpService();

    if (ViewBag.Positions != null)
    {
        foreach (ScheduleEnums.TeacherPosition g in ViewBag.Positions)
        {
            dropDownForPosition.Add(new ListItem(g.GetStringValue()));
        }
    }

    if (ViewBag.Departments != null)
    {
        foreach (DepartmentsDto g in ViewBag.Departments)
        {
            dropDownForDepartment.Add(new ListItem(g.Name, g.Id.ToString()));
        }
    }
}

<div class="container-fluid">
    <div class="row justify-content-between mt-4 bg-dark border-bottom">
        <div class="col-lg-3 col-md-3 col-sm-12 align-self-center">
            <h2 class="labels text-white">@TITLE</h2>
        </div>
        <div class="col-lg-7 col-md-8 col-sm-12 align-self-center">
            @using (Html.BeginForm("Teachers", "Teacher", FormMethod.Post))
            {
                <input class="form-control float-left m-1" type="search" placeholder="Прізвище та ім'я" name="search" style="width : 155px">
                @Html.DropDownList("position", new SelectList(dropDownForPosition, "Value", "Text"), new { @class = "btn btn-light dropdown-toggle m-1", id = "position",style="width : 120px" })
                @Html.DropDownList("idDepartment", new SelectList(dropDownForDepartment, "Value", "Text"), new { @class = "btn btn-light dropdown-toggle m-1", id = "idDepartment",style="width: 180px;" })
                <button class="btn btn-outline-primary m-1" type="submit"><i class="fa fa-search"></i>@SEARCH</button>
            }
        </div>
        <div class="col-lg-1 col-md-1 col-sm-12 align-self-center text-center">
            <button class="btn btn-success text-white fa fa-user-plus mt-1 mb-1" type="button" value="create" onclick="Create()" data-toggle="tooltip" data-placement="bottom" title="Створити"></button>
        </div>
    </div>

    <div class="row justify-content-center">
        <table class="table table-responsive-sm table-hover table-dark w-100 table-bordered text-center font-weight-bold" id="TeacherForm">
            <thead class="text-primary" style="font-size: 18px">
                <tr>
                    <th scope="row" class="font-italic">
                        @NAME
                    </th>
                    <th scope="row" class="font-italic">
                        @SURNAME
                    </th>
                    <th scope="row" class="font-italic">
                        @POSITION
                    </th>
                    <th scope="row" class="font-italic">
                        @DEPARTMENT
                    </th>
                    <th scope="row"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (ViewBag.Teachers != null)
                    {
                        foreach (TeachersDto item in ViewBag.Teachers)
                        {
                            <tr style="font-weight:normal">
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SecondName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Position)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => departmentService.GetDepartmentById(item.IdDepartment).Name)
                                </td>
                                <td align="center">
                                    <button class="btn btn-warning text-white fa fa-edit" type="button" value="edit" id="@item.Id" onclick="Edit(this.id)" data-toggle="tooltip" data-placement="bottom" title="Редагувати"></button> |
                                    <button class="btn btn-danger text-white fa fa-trash" type="button" value="delete" id="@item.Id" onclick="Delete(this.id)" data-toggle="tooltip" data-placement="bottom" title="Видалити"></button>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    var DETAIL_TITLE = "Детальна інформація";
    var CREATE_TITLE = "Добавити викладача";
    var EDIT_TITLE = "Редагування";
    var DELETE_TITLE = "Ви впевнені, що бажаєте видалити даного викладача?";

    function Create() {
        document.getElementById("TeacherTitle").style.color = 'white';
        $('#TeacherTitle').text(function(i, oldText) {
            return CREATE_TITLE;
        });

        $.get("@Url.Action("CreateTeacher","Teacher")",
            function (data) { $('.modal-body').html(data); });
        $('#TeacherModal').modal('show');

        $('#TeacherModal').on('hidden.bs.modal',
            function(e) {
                $('.modal-body').html("");
            });
    }

    function Edit(id) {
        document.getElementById("TeacherTitle").style.color = 'white';
        $('#TeacherTitle').text(function (i, oldText) {
            return EDIT_TITLE;
        });

        $.get("@Url.Action("EditTeacher", "Teacher")/" + id,
            function (data) { $('.modal-body').html(data); });
        $('#TeacherModal').modal('show');

        $('#TeacherModal').on('hidden.bs.modal',
            function(e) {
                $('.modal-body').html("");
            });
    }

    function Delete(id) {
        document.getElementById("TeacherTitle").style.color = 'red';
        $('#TeacherTitle').text(function (i, oldText) {
            return DELETE_TITLE;
        });

        $.get("@Url.Action("DeleteTeacher", "Teacher")/" + id,
            function (data) { $('.modal-body').html(data); });
        $('#TeacherModal').modal('show');

        $('#TeacherModal').on('hidden.bs.modal',
            function(e) {
                $('.modal-body').html("");
        });
    }

</script>
