﻿@using System.Web.UI.WebControls
@using Resourses.Enums
@using Resourses.Parsers
@model Entities.ModelsDTO.AudiencesDto

@{
    var NAME = "Назва";
    var DESCRIPTION = "Опис";
    var TYPE_AUDIENCE = "Тип";
    var ADD_BUTTON_LABEL = "Добавити";
    var typesAudience = new List<ListItem> {};

    foreach (ScheduleEnums.AudienceType c in Enum.GetValues(typeof(ScheduleEnums.AudienceType)))
    {
        ListItem item = new ListItem(Enum.GetName(typeof(ScheduleEnums.AudienceType), c), c.GetStringValue());
        typesAudience.Add(item);
    }
}

@if (ViewBag.Success == null || ViewBag.Success == false)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

    <div class="row justify-content-center  text-center">
        <div class="col-lg-3 col-md-4 col-sm-3 align-self-center text-center">
            <label class="text-primary font-weight-bold">@NAME</label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", id="name" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="row justify-content-center  text-center">
        <div class="col-lg-3 col-md-3 col-sm-3 align-self-center text-center">
            <label class="text-primary font-weight-bold ">@DESCRIPTION</label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            @Html.EditorFor(model => model.Descriptions, new { htmlAttributes = new { @class = "form-control", id = "description" } })
            @Html.ValidationMessageFor(model => model.Descriptions, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="row justify-content-center  text-center">
        <div class="col-lg-3 col-md-4 col-sm-3 align-self-center text-center">
            <label class="text-primary font-weight-bold">@TYPE_AUDIENCE</label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            @Html.DropDownListFor(model => model.TypeAudience, new SelectList(typesAudience, "Value", "Text"), new { @class = "btn btn-light dropdown-toggle", id ="type" })
            @Html.ValidationMessageFor(model => model.TypeAudience, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="my-modal-footer">
        <div class="row justify-content-center">
            <button type="button" class="btn btn-outline-success" value="create" onclick="PostCreateAudience()">@ADD_BUTTON_LABEL</button>
        </div>
    </div>
    }
}
else
{
    <script>
        $('#AudienceModal').modal('hide');
        $(location).attr('href', "@Url.Action("Audiences", "Audience")");
    </script>
}
    <script>
    var CREATE_TITLE = "Добавити аудиторію";
    function PostCreateAudience() {
        document.getElementById("AudienceTitle").style.color = 'white';
        $('#AudienceTitle').text(function(i, oldText) {
            return CREATE_TITLE;
        });

        var posting = $.post("@Url.Action("CreateAudience", "Audience")",
            {
                Name: $('#name').val(),
                Descriptions: $('#description').val(),
                TypeAudience: $('#type').val()
            }
        );
        posting.done(function(data) {
            @{
                if (ViewBag.Success != null && ViewBag.Success)
                {
                    <text>
                        $('#AudienceModal').remove();
                        $('.modal-body').remove();
                    </text>
                }
                else
                {
                    <text>
                        $('.modal-body').html(data);
                    </text>
                }
            }
        });

        $('#AudienceModal').modal('show');
        $('#AudienceModal').on('hidden.bs.modal',
            function(e) {
                $('.modal-body').html("");
            });
    }
    </script>