﻿@using System.Web.UI.WebControls
@using Entities.ModelsDTO
@using Resourses.Enums
@model Entities.ModelsDTO.AudiencesDto

@{
    var NAME = "Назва";
    var DESCRIPTION = "Опис";
    var TYPE_AUDIENCE = "Тип";
    var EDIT_BUTTON_LABEL = "Добавити";
    var typesAudience = new List<SelectListItem> { };

    foreach (ScheduleEnums.AudienceType r in Enum.GetValues(typeof(ScheduleEnums.AudienceType)))
    {
        if (r == Model.TypeAudience)
        {
            typesAudience.Add(new SelectListItem { Text = Resourses.Parsers.ScheduleParsers.GetStringValue(r), Value = r.ToString(), Selected = true });
        }
        else
        {
            typesAudience.Add(new SelectListItem { Text = Resourses.Parsers.ScheduleParsers.GetStringValue(r), Value = r.ToString(), Selected = false });
        }
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 col-sm-3 align-self-center text-center">
            <label class="text-primary font-weight-bold">@NAME</label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-3 col-sm-3 align-self-center text-center">
            <label class="text-primary font-weight-bold ">@DESCRIPTION</label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            @Html.EditorFor(model => model.Descriptions, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Descriptions, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 col-sm-3 align-self-center text-center">
            <label class="text-primary font-weight-bold">@TYPE_AUDIENCE</label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            @Html.DropDownListFor(model => model.TypeAudience, new SelectList(typesAudience, "Value", "Text"), new { @class = "btn btn-light dropdown-toggle" })
            @Html.ValidationMessageFor(model => model.TypeAudience, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="my-modal-footer">
        <div class="row justify-content-center">
            <input type="submit" value=@EDIT_BUTTON_LABEL class="btn btn-outline-success" />
        </div>
    </div>
}