﻿@model Entities.ModelsDTO.SubjectsDto

@{
    var TITLE = "Предмети";
    var SEARCH = "Пошук";
    var NAME = "Назва";
    var ADD_BUTTON_LABEL = "Добавити";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row justify-content-center text-center">
        <div class="col-lg-3 col-md-4 col-sm-3 align-self-center">
            <label class="text-primary font-weight-bold">@NAME</label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="my-modal-footer">
        <div class="row justify-content-center">
            <input type="submit" value=@ADD_BUTTON_LABEL class="btn btn-outline-success" />
        </div>
    </div>
}

