﻿
@{
    Layout = null;
    var ADDRESS = "Наша адреса";
    var CITY = "м.Чернівці";
    var STREET = "Університетська 28";
    var FOOTER_LABEL = "Fantastic-fours-project";
    var TELNUMBER = " + 0372584880";
    var MATFAK_EMAIL = "clg-math@chnu.edu.ua";
    var UNIVERSITY = "Університет ім. Юрія Федьковича";
    var UNIVERSITY_DESCRIPTION = "Чернівецький національний університет заснований 4 жовтня 1875 р. указом імператора Австро-Угорщини Франца Йосифа у складі теологічного, філософського та юридичного факультетів. Першим ректором став відомий учений і громадський діяч К.Томащук. Тут викладали і вели дослідницьку роботу вчені європейського та світового рівня: економіст Й.Шумпетер, юрист Г.Гросс, історик Р.Кайндль, славіст О.Калужняцький, україніст С.Смаль-Стоцький, композитор і письменник С.Воробкевич та інші.";
    var OUR_ARRANGMENT = "Наше розміщення";
    var CONTACT = "Контакти";
    var JOIN_US_FACEBOOK = "Приєднайтеся до нас в Facebook";
    var JOIN_US_INSTAGRAM = "Приєднайтеся до нас в Instagram";
}

<footer class="bg-dark border-top">
    <div class="footerHeader border-top"></div>
    <div class="container mt-1">
        <div class="row">
            <div class="col-lg-4 d-none d-lg-block">
                <h3 class="text-primary text-center">@UNIVERSITY</h3>
                <p>
                    @UNIVERSITY_DESCRIPTION                
                </p>
            </div>

            <div class="col-lg-4 col-md-6 order-md-2 col-sm-12 d-none d-md-block mb-2">
                <h3 class="text-center text-primary">@OUR_ARRANGMENT</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2654.4851949389567!2d25.927184515302017!3d48.293519148266405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4734089ea7cef383%3A0x2fb880ab60dd6593!2sUniversytets&#39;ka+St%2C+28%2C+Chernivtsi%2C+Chernivets&#39;ka+oblast%2C+Ukraine%2C+58000!5e0!3m2!1sen!2sus!4v1542364351698" width="600" height="450" frameborder="0" style="border: 0" allowfullscreen></iframe>
            </div>

            <div class="col-lg-4 col-md-6 order-md-1 col-sm-12 ml-auto">
                <h3 class="text-center text-primary">@CONTACT</h3>
                <ul class="text-center">
                    <li><span class="fa fa-phone text-primary fa-lg"></span> @TELNUMBER</li>
                    <li><span class="fa fa-envelope text-primary fa-lg"></span> @MATFAK_EMAIL</li>
                    <li class="d-md-none"><span class="fa fa-location-arrow text-primary fa-lg"></span> @CITY @STREET</li>
                </ul>
                <ul class="text-center d-none d-md-block">
                    <li>
                        <a class="btn btn-primary contact-link" href="https://www.facebook.com/fmi.org.ua/" target="_blank">
                            <span class="fa fa-facebook"></span> @JOIN_US_FACEBOOK
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-info mt-1 contact-link" href="https://www.instagram.com/m.__i__.f/?hl=uk" target="_blank">
                            <span class="fa fa-instagram"></span> @JOIN_US_INSTAGRAM
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer text-center border-top">
            <a class="text-primary">&copy; @DateTime.Now.Year - @FOOTER_LABEL</a>
    </div>
</footer>