﻿@{
    Layout = null;
    var MAIN = " Головна";
    var ABOUT = " Про нас";
    var SCHEDULE = " Розклад";
    var USERS = " Користувачі";
    var STUDENTS = " Студенти";
    var TEACHERS = " Викладачі";
    var GROUPS = " Групи";
    var DEPARMENTS = " Кафедри";
    var AUDIENCES = " Аудиторії";
    var SUBJECTS = " Предмети";
    var TITLE = "Авторизація";
    var UNIVERSITY = "Університет імені Юрія Федьковича";
    var FACULTY = "Факультет математики та інформатики";
    var ENTER = "Вхід";
}
    <div class="myJumbotron bg-primary border-bottom border-top">
        <div class="container">
            <div class="row ">
                <div class="col-lg-3 col-md-3 col-sm-12 align-items-center">
                    <a href="../home/index"><img src=@Url.Content("~/Content/images/matfak.png") alt="Matfak_logo" class="ml-auto mr-auto d-block" height="100px"></a>
                </div>
                <div class="col-lg-9 col-md-9 d-none d-md-block text-center text-white align-self-center">
                    <h2 style="font-size: 3vw;">@UNIVERSITY</h2>
                    <h4 style="font-size: 2vw;">@FACULTY</h4>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg bg-dark navbar-light sticky-top mb-0 border-bottom">
        <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#Navbar" style="background-color: #007bff;">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="Navbar">
            <div id="navbar-menu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item @(ViewBag.CurrentPage == "Index" ? "active" : "unactive")">
                        <a class="nav-link " href="/Home/Index" id="main">
                            <span class="fa fa-home fa-lg "></span> @MAIN
                        </a>
                    </li>
                    <li class="nav-item @(ViewBag.CurrentPage == "About" ? "active" : "unactive")">
                        <a class="nav-link ml-1" href="/Home/About">
                            <span class="fa fa-info fa-lg"></span> @ABOUT
                        </a>
                    </li>
                    <li class="nav-item @(ViewBag.CurrentPage == "Schedules" ? "active" : "unactive")">
                        <a class="nav-link ml-1" href="/Schedule/Schedules">
                            <span class="fa fa-list fa-lg"></span> @SCHEDULE
                        </a>
                    </li>
                    <li class="nav-item @(ViewBag.CurrentPage == "Students" ? "active" : "unactive")">
                        <a class="nav-link ml-1" href="/Student/Students">
                            <span class="fa fa-user fa-lg"></span> @STUDENTS
                        </a>
                    </li>
                    <li class="nav-item @(ViewBag.CurrentPage == "Teachers" ? "active" : "unactive")">
                        <a class="nav-link ml-1" href="/Teacher/Teachers">
                            <span class="fa fa-graduation-cap fa-lg"></span> @TEACHERS
                        </a>
                    </li>
                    <li class="nav-item @(ViewBag.CurrentPage == "Groups" ? "active" : "unactive")">
                        <a class="nav-link ml-1" href="/Group/Groups">
                            <span class="fa fa-group fa-lg"></span> @GROUPS
                        </a>
                    </li>
                    <li class="nav-item @(ViewBag.CurrentPage == "Departments" ? "active" : "unactive")">
                        <a class="nav-link ml-1" href="/Department/Departments">
                            <span class="fa fa fa-institution fa-lg"></span> @DEPARMENTS
                        </a>
                    </li>
                    <li class="nav-item @(ViewBag.CurrentPage == "Audiences" ? "active" : "unactive")">
                        <a class="nav-link ml-1" href="/Audience/Audiences">
                            <span class="fa fa-building fa-lg"></span> @AUDIENCES
                        </a>
                    </li>
                    <li class="nav-item @(ViewBag.CurrentPage == "Subjects" ? "active" : "unactive")">
                        <a class="nav-link d-block m-auto" href="/Subject/Subjects">
                            <span class="fa fa-book fa-lg"></span> @SUBJECTS
                        </a>
                    </li>
                    <li class="nav-item @(ViewBag.CurrentPage == "Users" ? "active" : "unactive")">
                        <a class="nav-link d-block m-auto" href="/User/Users">
                            <span class="fa fa-user fa-lg"></span> @USERS
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <button class="btn pull-right btn-outline-primary" data-toggle="modal" data-target="#loginModal">
            <span class="fa fa-sign-in"> </span> @ENTER
        </button>
    </nav>



