﻿@using System.Web.UI.WebControls
@using Entities.ModelsDTO
@using Resourses.Enums
@using Resourses.Parsers
@model Entities.ModelsDTO.GroupsDto

@{
    var NAME = "Назва";
    var TITLE = "Групи";
    var SEARCH = "Пошук";
    var DEPARTMENT = "Кафедра";
    var COURSE = "Курс";
    var ADD_BUTTON_LABEL = "Добавити";
    var listCourses = new List<ListItem> { };
    var Departments = new List<ListItem> { };

    if (ViewBag.Departments != null)
    {
        foreach (DepartmentsDto d in ViewBag.Departments)
        {
            Departments.Add(new ListItem(d.Name, d.Id.ToString()));
        }
    }
    foreach (ScheduleEnums.Course c in Enum.GetValues(typeof(ScheduleEnums.Course)))
    {
        ListItem item = new ListItem(Enum.GetName(typeof(ScheduleEnums.Course), c), c.GetStringValue());
        listCourses.Add(item);
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 col-sm-3 align-self-center text-center">
            <label class="text-primary font-weight-bold">@NAME</label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-3 col-sm-3 align-self-center text-center">
            <label class="text-primary font-weight-bold ">@DEPARTMENT</label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            @Html.DropDownListFor(model => model.IdDepartment, new SelectList(Departments, "Value", "Text"), new { @class = "btn btn-light dropdown-toggle" })
                @Html.ValidationMessageFor(model => model.IdDepartment, "", new { @class = "text-danger" })
            </div>
    </div>
    <hr />
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 col-sm-3 align-self-center text-center">
            <label class="text-primary font-weight-bold">@COURSE</label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            @Html.DropDownListFor(model => model.Course, new SelectList(listCourses, "Value", "Text"), new { @class = "btn btn-light dropdown-toggle" })
            @Html.ValidationMessageFor(model => model.Course, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="my-modal-footer">
        <div class="row justify-content-center">
            <input type="submit" value=@ADD_BUTTON_LABEL class="btn btn-outline-success" />
        </div>
    </div>
}