﻿@using Entities.ModelsDTO
@model Entities.ModelsDTO.GroupsDto
@{
    ViewBag.CurrentPage = "Groups";
    var TITLE = "Групи";
    var SEARCH = "Пошук";
    var NAME = "Назва";
    var DEPARTMENT = "Кафедра";
    var COURSE = "Курс";
    var DELETE_BUTTON_TRUE = "Так";
    var DELETE_BUTTON_NO = "Ні";
    var EDIT_BUTTON_LABEL = "Редагувати";
    DepartmentsDto department = ViewBag.Department;
}
@using (Html.BeginForm("DeleteGroupById", "Group", FormMethod.Post))
{
    @Html.HiddenFor(model => model.Id)
    <div class="row justify-content-center text-center">
        <div class="col-lg-5 col-md-5 col-sm-5 align-self-center">
            <label class="text-primary font-weight-bold">@NAME</label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 text-white">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>
    <hr />
    <div class="row justify-content-center text-center">
        <div class="col-lg-5 col-md-5 col-sm-5 align-self-center">
            <label class="text-primary font-weight-bold">@DEPARTMENT</label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 text-white">
            @department.Name
        </div>
    </div>
    <hr />
    <div class="row justify-content-center  text-center">
        <div class="col-lg-5 col-md-5 col-sm-5 align-self-center">
            <label class="text-primary font-weight-bold">@COURSE</label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 text-white">
            @Model.Course
        </div>
    </div>
    <hr />
    <div class="my-modal-footer text-center">
        <input type="submit" name="id" value="@DELETE_BUTTON_TRUE" class="btn btn-outline-danger mr-2 mt-2 ml-auto mb-2">
        @Html.ActionLink(DELETE_BUTTON_NO, "Groups",
            new {controller = "Group"},
            new {@class = "btn btn-outline-success mr-auto mt-2 ml-2 mb-2"})
    </div>
}
