﻿@using Entities.ModelsDTO
@using Resourses.Enums
@model Entities.ModelsDTO.GroupsDto

@{
    var TITLE = "Групи";
    var SEARCH = "Пошук";
    var NAME = "Назва";
    var DEPARTMENT = "Кафедра";
    var COURSE = "Курс";
    var EDIT_BUTTON_LABEL = "Зберегти";

    var Departments = new List<SelectListItem> { };
    var Courses = new List<SelectListItem> { };

    if (ViewBag.Departments != null)
    {
        foreach (DepartmentsDto d in ViewBag.Departments)
        {
            if (d.Id == Model.IdDepartment)
            {
                Departments.Add(new SelectListItem { Text = d.Name, Value = d.Id.ToString(), Selected = true });
            }
            else
            {
                Departments.Add(new SelectListItem() { Text = d.Name, Value = d.Id.ToString(), Selected = false });
            }
        }
    }
    foreach (ScheduleEnums.Course c in Enum.GetValues(typeof(ScheduleEnums.Course)))
    {
        if (c == Model.Course)
        {
            Courses.Add(new SelectListItem { Text = Enum.GetName(typeof(ScheduleEnums.Course), c), Value = c.ToString(), Selected = true });
        }
        else
        {
            Courses.Add(new SelectListItem { Text = Enum.GetName(typeof(ScheduleEnums.Course), c), Value = c.ToString() });
        }
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 col-sm-3 align-self-center text-center">
            <label class="text-primary font-weight-bold">@NAME</label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-3 col-sm-3 align-self-center text-center">
            <label class="text-primary font-weight-bold ">@DEPARTMENT</label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            @Html.DropDownListFor(model => model.IdDepartment, new SelectList(Departments, "Value", "Text"), new { @class = "btn btn-light dropdown-toggle" })
            @Html.ValidationMessageFor(model => model.IdDepartment, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 col-sm-3 align-self-center text-center">
            <label class="text-primary font-weight-bold">@COURSE</label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            @Html.DropDownListFor(model => model.Course, new SelectList(Courses, "Value", "Text"), new { @class = "btn btn-light dropdown-toggle" })
            @Html.ValidationMessageFor(model => model.Course, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="my-modal-footer">
        <div class="row justify-content-center">
            <input type="submit" value=@EDIT_BUTTON_LABEL class="btn btn-outline-success" />
        </div>
    </div>
}