﻿@using Entities.ModelsDTO
@using Resourses.Parsers
@model IEnumerable<GroupsDto>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.CurrentPage = "Groups";
    var TITLE = "Групи";
    var SEARCH = "Пошук";
    var NAME = "Назва";
    var DEPARTMENT = "Кафедра";
    var COURSE = "Курс";
    List<DepartmentsDto> departments = new List<DepartmentsDto>();
    if (ViewBag.Departments != null)
    {
        departments = ViewBag.Departments;
    }
}

    <div class="container-fluid">
        <div class="row justify-content-between mt-4 bg-dark border-bottom">
            <div class="col-lg-3 col-md-4 col-sm-5 align-self-center">
                <h2 class="labels ml-3 mr-2 mt-2 mb-2 text-white">@TITLE</h2>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-4 align-self-center">
                @using (Html.BeginForm("Groups", "Group", FormMethod.Get))
                {
                    <input class="form-control form-control-borderless float-left w-50 mr-2" type="search" placeholder=@TITLE name="name">
                    <button class="btn btn-outline-primary" type="submit"><i class="fa fa-search"></i>@SEARCH</button>
                }
            </div>
            <div class="col-lg-1 col-md-4 col-sm-3 align-self-center text-center">
                <button class="btn btn-success text-white fa fa-plus mt-1 mb-1" type="button" value="create" onclick="Create()" data-toggle="tooltip" data-placement="bottom" title="Створити"></button>
            </div>
        </div>

        <div class="row justify-content-center">
            <table class="table table-responsive-sm table-hover table-dark w-100 table-bordered text-center font-weight-bold" id="StudentForm">
                <thead class="text-primary" style="font-size: 18px">
                    <tr>
                        <th scope="row" class="font-italic">
                            @NAME
                        </th>
                        <th scope="row" class="font-italic">
                            @DEPARTMENT
                        </th>
                        <th scope="row" class="font-italic">
                            @COURSE
                        </th>
                        <th scope="row"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (ViewBag.Groups != null && ViewBag.Departments != null)
                        {
                            foreach (GroupsDto item in ViewBag.Groups)
                            {
                                <tr style="font-weight:normal">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @departments.First(d => d.Id == item.IdDepartment).Name
                                    </td>
                                    <td>
                                        @item.Course.GetStringValue()
                                    </td>
                                    <td align="center">
                                        <button class="btn btn-warning text-white fa fa-edit" type="button" value="edit" id="@item.Id" onclick="Edit(this.id)" data-toggle="tooltip" data-placement="bottom" title="Редагувати"></button> |
                                        <button class="btn btn-danger text-white fa fa-trash" type="button" value="delete" id="@item.Id" onclick="Delete(this.id)" data-toggle="tooltip" data-placement="bottom" title="Видалити"></button>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

<script>
    var CREATE_TITLE = "Добавити групу";
    var EDIT_TITLE = "Редагування";
    var DELETE_TITLE = "Ви впевнені, що бажаєте видалити дану групу?";

    function Create() {
        document.getElementById("GroupTitle").style.color = 'white';
        $('#GroupTitle').text(function(i, oldText) {
            return CREATE_TITLE;
        });

        $.get("@Url.Action("CreateGroup","Group")",
            function (data) { $('.modal-body').html(data); });
        $('#GroupModal').modal('show');

        $('#GroupModal').on('hidden.bs.modal',
            function(e) {
                $('.modal-body').html("");
            });
    }

    function Edit(id) {
        document.getElementById("GroupTitle").style.color = 'white';
        $('#GroupTitle').text(function (i, oldText) {
            return EDIT_TITLE;
        });

        $.get("@Url.Action("EditGroup", "Group")/" + id,
            function (data) { $('.modal-body').html(data); });
        $('#GroupModal').modal('show');

        $('#GroupModal').on('hidden.bs.modal',
            function (e) {
                $('.modal-body').html("");
            });
    }

    function Delete(id) {
        document.getElementById("GroupTitle").style.color = 'red';
        $('#GroupTitle').text(function (i, oldText) {
            return DELETE_TITLE;
        });

        $.get("@Url.Action("DeleteGroup", "Group")/" + id,
            function (data) { $('.modal-body').html(data); });
        $('#GroupModal').modal('show');

        $('#GroupModal').on('hidden.bs.modal',
            function (e) {
                $('.modal-body').html("");
            });
    }
</script>
