﻿@{
    ViewBag.CurrentPage = "About";
    var HISTORY = "Історія";
    var HISTORY_VALUE = "<p>Математичний факультет виділився із фізико-математичного факультету у 1968 році. Серед його 44 викладачів був 1 доктор фіз.-мат. наук, професор і 17 кандидатів фіз.-мат. наук, доцентів. За 36 років своєї діяльності математичний факультет став одним із провідних в університеті. У 50-80 роках на математичному факультеті працювали професори С.Д.Ейдельман, М.К.Фаге, В.П.Рубаник, Є.Ф.Царков, В.І.Фодчук, М.І.Нагнибіда, М.Ф.Кириченко. Для забезпечення спеціалізації „Математичне та комп’ютерне моделювання” та спеціальності „Статистика” у 1987 році організовано кафедру математичного моделювання, а в 2000 році відкрито кафедру математичної та прикладної статистики.</p>     <p>У 2004 році математичний факультет перейменовано на факультет прикладної математики, який складається з 6 кафедр: алгебри та інформатики(завідувач – доктор фіз.- мат.наук, професор В.В.Городецький); математичного аналізу(завідувач – доктор фіз.-мат.наук, професор В.К.Маслюченко); диференціальних рівнянь(завідувач – доктор фіз.-мат.наук, професор І.Д.Пукальський); прикладної математики(завідувач – доктор фіз.-мат.наук, доцент Я.Й.Бігун); математичного моделювання(завідувач – доктор фіз.-мат.наук, професор І.М.Черевко); стохастичного та системного аналізу(завідувач – доктор фіз.-мат.наук, професор В.К.Ясинський); чотирьох комп’ютерних класів та трьох лабораторій з інформаційних та комп’ютерних технологій, які обладнані сучасною технікою і програмним за безпеченням та мають доступ до мережі Internet; кабінету математики, де зберігається понад 8000 книг та журналів.</p>      <p>Професорсько - викладацький склад факультету нараховує 78 викладачів, серед яких 13 докторів наук(Я.Й.Бігун, В.В.Городецький, І.В.Житарюк, М.П.Ленюк, В.А.Літовченко, М.І.Матійчук, В.К.Маслюченко, В.В.Михайлюк, Р.І.Петришин, М.М.Попов, І.Д.Пукальський, І.М.Черевко, В.К.Ясинський) та 55 кандидатів наук.</p>";
    var GLANCE_FACTS = "Короткі факти";
    var YEAR_OF_ESTABLISHMENT = "Рік заснування";
    var YEAR_OF_ESTABLISHMENT_VALUE = "1968";
    var DEAN = "Декан";
    var DEAN_VALUE = "Черевко І.М.";
    var STREAMS = "Напрями";
    var STREAMS_VALUE = " - Інформатика<br> - Прикладна математика<br> - Системний аналіз<br> - математика";
    var CATHEDRALS = "Кафедри";
    var CATHEDRALS_VALUE = " - Алгебри та інформатики<br> - математичного аналізу<br> - диференціальних рівнянь<br> - прикладної математики<br> - математичного моделювання";
    var EMPLOYERS = "Працівників";
    var EMPLOYERS_VALUE = "78";
    var COORPORATE_WITH = "Співпрацюємо з";
    var SOFTSERV = "SoftServe — провідна українська ІТ компанія, що працює у сфері розробки програмного забезпечення та надання консультаційних послуг. Головні офіси компанії знаходяться у Львові та Остіні (штат Техас, США), понад 5000 працівників працюють у європейських та американських офісах компанії. SoftServe є однією з найбільших компанії-розробників програмного забезпечення у Центральній та Східній Європі та входить в трійку найбільших аутсорсингових компаній України";
    var YUKON = "YUKON Software - це команда надзвичайно відданих своїй справі професіоналів, які із задоволенням виконують проекти різної складності для вимогливих замовників з усього світу. Назва нашої компанії та її амбіції сягають своїм корінням часів золотої лихоманки на Алясці, коли люди, незважаючи на безліч перешкод, досягали грандіозних і вражаючих результатів.";
    var DESYDE = "Desyde LTD - компанія, що займається розробкою програмного забезпечення і використовує передові інформаційні технології в інтересах своїх клієнтів по всьому світу. Заснована в 2002 році в м.Чернівці, реструктуризована в 2004 в Дісайд Лтд та є підрозділом Desyde Group Holding, з центральним офісом в Нідерландах.";
    var EBISAUTOS = "eBisAutos - приватна компанія, що складається з однодумців експертів з онлайн-маркетингу, які зрозуміли, що це найефективніший спосіб вирішити найбільшу проблему для автосалонів. Тут багато продавачів з натуральних олій, які кидають багато технічного жаргону, але це дуже просто. Щоб продати більше машин, вам треба потрапити перед потенційними покупцями на початку свого процесу прийняття рішень. Це те, що ми робимо, і ми робимо це добре.";
    var SHARPMINDS = "SharpMinds - це українська ІТ-компанія, яка є частиною голландського холдингу HelloFlex Group, штаб-квартирою в Хілверсумі, Н.Л. Працюючи з голландськими компаніями вже більше 10 років, нам вдалося виростити до 200 співробітників, 3 комфортабельних офіси, більше 20 успішних B2B проектів, професійні ІКТ, послуги з управління персоналом та управління проектами та ще більше. Нам вдалося створити навколишнє середовище, орієнтоване на людей, коли люди оцінюються, команди є продуктивними, а бізнесові потреби зустрічаються.";
    var MOBIDEV = "MobiDev - компанія-розробник програмних продуктів для мобільних платформ iOS та Android, крос-платформних мобільних продуктів і високорівневих веб-рішень. Наші офіси розташовані в США та Німеччині, а центри розробки - в Харкові, Мариуполі, Миколаєві та Чернівцях.";
    var AMCBRIDGE = "AMC Bridge – це компанія, заснована досвідченими спеціалістами у галузі інформаційних технологій, що надає рішення для систем автоматизованого проектування, конструювання та виробництва, а також систем управління даними щодо продукту, та керування його життєвим циклом.Головний офіс компанії знаходиться у США, в Україні функціонують центри розробки у Дніпрі, Хмельницькому, Сумах та Чернівцях. Незабаром заплановано відкриття ще одного центру розробки у Львові.";
    var TECHNICAL_KNOWLEDGE = "Пропонуємо знання з наступних технологій";

}

<div class="container mt-4">

    <div class="row">
        <div class="col-lg-6 col-sm-12 align-items-center">
            <h2>@HISTORY</h2>
            <p>@Html.Raw(@HISTORY_VALUE)</p>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="card">
                <h3 class="card-header bg-primary text-white">@GLANCE_FACTS</h3>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-6">@YEAR_OF_ESTABLISHMENT</dt>
                        <dd class="col-6">@Html.Raw(@YEAR_OF_ESTABLISHMENT_VALUE)</dd>
                        <dt class="col-6">@DEAN</dt>
                        <dd class="col-6">@Html.Raw(DEAN_VALUE)</dd>
                        <dt class="col-6">@STREAMS</dt>
                        <dd class="col-6">@Html.Raw(@STREAMS_VALUE)</dd>
                        <dt class="col-6">@CATHEDRALS</dt>
                        <dd class="col-6">@Html.Raw(@CATHEDRALS_VALUE)</dd>
                        <dt class="col-6">@EMPLOYERS</dt>
                        <dd class="col-6">@EMPLOYERS_VALUE</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mb-4">
        <div class="col-12 col-sm-11">
            <h2>@COORPORATE_WITH</h2>
            <div id="accordion">
                <div class="card border-primary">
                    <div class="card-header">
                        <div class="card-link" data-toggle="collapse" href="#softserve">
                            <img src="../../Content/Icons/softServe.png" width="100">
                        </div>
                    </div>
                    <div id="softserve" class="collapse show" data-parent="#accordion">
                        <div class="card-body d-none d-sm-block">
                            <p>@SOFTSERV</p>
                        </div>
                    </div>
                </div>
                <div class="card border-primary">
                    <div class="card-header">
                        <div class="card-link" data-toggle="collapse" href="#yukon">
                            <img src="../../Content/Icons/yukon.png" width="100">
                        </div>
                    </div>
                    <div id="yukon" class="collapse" data-parent="#accordion">
                        <div class="card-body d-none d-sm-block">
                            <p>@YUKON</p>
                        </div>
                    </div>
                </div>
                <div class="card border-primary">
                    <div class="card-header">
                        <div class="card-link" data-toggle="collapse" href="#desyde">
                            <img src="../../Content/Icons/desyde.png" width="100">
                        </div>
                    </div>
                    <div id="desyde" class="collapse" data-parent="#accordion">
                        <div class="card-body d-none d-sm-block">
                            <p>@DESYDE</p>
                        </div>
                    </div>
                </div>
                <div class="card border-primary">
                    <div class="card-header">
                        <div class="card-link" data-toggle="collapse" href="#ebisautos">
                            <img src="../../Content/Icons/ebizautos.png" width="100">
                        </div>
                    </div>
                    <div id="ebisautos" class="collapse" data-parent="#accordion">
                        <div class="card-body d-none d-sm-block">
                            <p>@EBISAUTOS</p>
                        </div>
                    </div>
                </div>
                <div class="card border-primary">
                    <div class="card-header">
                        <div class="card-link" data-toggle="collapse" href="#sharpminds">
                            <img src="../../Content/Icons/sharpminds.png" width="100">
                        </div>
                    </div>
                    <div id="sharpminds" class="collapse" data-parent="#accordion">
                        <div class="card-body d-none d-sm-block">
                            <p>@SHARPMINDS</p>
                        </div>
                    </div>
                </div>
                <div class="card border-primary">
                    <div class="card-header">
                        <div class="card-link" data-toggle="collapse" href="#mobidev">
                            <img src="../../Content/Icons/mobidev.png" width="100">
                        </div>
                    </div>
                    <div id="mobidev" class="collapse" data-parent="#accordion">
                        <div class="card-body d-none d-sm-block">
                            <p>@MOBIDEV</p>
                        </div>
                    </div>
                </div>
                <div class="card border-primary">
                    <div class="card-header">
                        <div class="card-link" data-toggle="collapse" href="#amcbridge">
                            <img src="../../Content/Icons/amcbridge.png" width="100">
                        </div>
                    </div>
                    <div id="amcbridge" class="collapse" data-parent="#accordion">
                        <div class="card-body d-none d-sm-block">
                            <p>@AMCBRIDGE</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="text-center">@TECHNICAL_KNOWLEDGE</h3>
    <div class="row justify-content-center mb-4 techicalSkillsGrid">
        <div class="col-lg-2 col-md-3 col-sm-4 col-auto align-items-center d-block m-auto">
            <img src="../../Content/Icons/python.png" data-toggle="tooltip" data-placement="bottom" title="Python"/>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-auto d-block m-auto">
            <img src="../../Content/Icons/android.png" data-toggle="tooltip" data-placement="bottom" title="Android"/>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-auto d-block m-auto">
            <img src="../../Content/Icons/c.jpg" data-toggle="tooltip" data-placement="bottom" title="C"/>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-auto d-block m-auto">
            <img src="../../Content/Icons/mysql.png" data-toggle="tooltip" data-placement="bottom" title="MySQL"/>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-auto d-block m-auto">
            <img src="../../Content/Icons/ruby.png" data-toggle="tooltip" data-placement="bottom" title="Ruby"/>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-auto d-block m-auto">
            <img src="../../Content/Icons/java.png" data-toggle="tooltip" data-placement="bottom" title="Java"/>
        </div>
    </div>

    <div class="row justify-content-center mb-4 techicalSkillsGrid">
        <div class="col-lg-2 col-md-3 col-sm-4 col-auto align-items-center d-block m-auto">
            <img src="../../Content/Icons/github.png" width="100" data-toggle="tooltip" data-placement="bottom" title="Github"/>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-auto d-block m-auto">
            <img src="../../Content/Icons/c_plus_plus.png" width="100" data-toggle="tooltip" data-placement="bottom" title="C++"/>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-auto d-block m-auto">
            <img src="../../Content/Icons/php.png" width="100" data-toggle="tooltip" data-placement="bottom" title="PHP"/>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-auto d-block m-auto">
            <img src="../../Content/Icons/angular.png" width="100" data-toggle="tooltip" data-placement="bottom" title="Angular"/>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-auto d-block m-auto">
            <img src="../../Content/Icons/aspnet.png" width="100" data-toggle="tooltip" data-placement="bottom" title="ASP.NET"/>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-auto d-block m-auto">
            <img src="../../Content/Icons/R.png" width="100" data-toggle="tooltip" data-placement="bottom" title="R"/>
        </div>
    </div> 
    <div class="row justify-content-between mb-4 techicalSkillsGrid">
        <div class="col-lg-4 col-md-4 col-sm-4 col-auto align-items-center d-block m-auto">
            <img src="../../Content/Icons/react.png" width="80" data-toggle="tooltip" data-placement="bottom" title="React"/>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-auto d-block m-auto">
            <img src="../../Content/Icons/node-js.png" width="80" data-toggle="tooltip" data-placement="bottom" title="Node JS"/>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-auto d-block m-auto">
            <img src="../../Content/Icons/postgres.png" width="80" data-toggle="tooltip" data-placement="bottom" title="PostgreSQL"/>
        </div>
    </div>
    
</div>
