﻿@{
    ViewBag.CurrentPage = "Index";
} 

<div class="carousel slide carousel-fade" data-ride="carousel" data-interval="10000" id="MyCarousel">

    <ol class="carousel-indicators">
            <li data-target="#MyCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#MyCarousel" data-slide-to="1"></li>
            <li data-target="#MyCarousel" data-slide-to="2"></li>
            <li data-target="#MyCarousel" data-slide-to="3"></li>
            <li data-target="#MyCarousel" data-slide-to="4"></li>
            <li data-target="#MyCarousel" data-slide-to="5"></li>
            <li data-target="#MyCarousel" data-slide-to="6"></li>
            <li data-target="#MyCarousel" data-slide-to="7"></li>
            <li data-target="#MyCarousel" data-slide-to="8"></li>
            <li data-target="#MyCarousel" data-slide-to="9"></li>
            <li data-target="#MyCarousel" data-slide-to="10"></li>
            <li data-target="#MyCarousel" data-slide-to="11"></li>
            <li data-target="#MyCarousel" data-slide-to="12"></li>
            <li data-target="#MyCarousel" data-slide-to="13"></li>
    </ol>

        <div class="carousel-inner">
            <div class="carousel-item slides active">
                <img src="../../Content/Images/1.jpg" />
                <div class="slide-text">
                    <h1>#MATFAK</h1>
                </div>
            </div>
            <div class="carousel-item slides">
                <img src="../../Content/Images/2.jpg" class="w-100" />
                <div class="slide-text">
                    <h1>#MATFAK</h1>
                </div>
            </div>
            <div class="carousel-item slides">
                <img src="../../Content/Images/3.jpg" class="w-100" />
                <div class="slide-text">
                    <h1>#MATFAK</h1>
                </div>
            </div>
            <div class="carousel-item slides">
                <img src="../../Content/Images/4.jpg" class="w-100" />
                <div class="slide-text">
                    <h1>#MATFAK</h1>
                </div>
            </div>
            <div class="carousel-item slides">
                <img src="../../Content/Images/5.jpg" class="w-100" />
                <div class="slide-text">
                    <h1>#MATFAK</h1>
                </div>
            </div>
            <div class="carousel-item slides">
                <img src="../../Content/Images/6.jpg" class="w-100" />
                <div class="slide-text">
                    <h1>#MATFAK</h1>
                </div>
            </div>
            <div class="carousel-item slides">
                <img src="../../Content/Images/7.jpg" class="w-100" />
                <div class="slide-text">
                    <h1>#MATFAK</h1>
                </div>
            </div>
            <div class="carousel-item slides">
                <img src="../../Content/Images/8.jpg" class="w-100" />
                <div class="slide-text">
                    <h1>#MATFAK</h1>
                </div>
            </div>
            <div class="carousel-item slides">
                <img src="../../Content/Images/9.jpg" class="w-100" />
                <div class="slide-text">
                    <h1>#MATFAK</h1>
                </div>
            </div>
            <div class="carousel-item slides">
                <img src="../../Content/Images/10.jpg" class="w-100" />
                <div class="slide-text">
                    <h1>#MATFAK</h1>
                </div>
            </div>
            <div class="carousel-item slides">
                <img src="../../Content/Images/11.jpg" class="w-100" />
                <div class="slide-text">
                    <h1>#MATFAK</h1>
                </div>
            </div>
            <div class="carousel-item slides">
                <img src="../../Content/Images/12.jpg" class="w-100" />
                <div class="slide-text">
                     <h1>#MATFAK</h1>
                </div>
            </div>
            <div class="carousel-item slides">
                <img src="../../Content/Images/13.jpg" class="w-100" />
                <div class="slide-text">
                    <h1>#MATFAK</h1>
                </div>
            </div>
            <div class="carousel-item slides">
                <img src="../../Content/Images/14.jpg" class="w-100" />
                <div class="slide-text">
                    <h1>#MATFAK</h1>
                </div>
            </div>
        </div>
    </div>