﻿@{
    ViewBag.Title = "ProfilePage";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

        </div>
        <div class="navbar-collapse collapse" id="Navbar">

            <div class="dropdown pull-right">
                <button type="button" class="btn navbar-btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="fa fa-user-circle-o" style="font-size:36px"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Мій профіль", "ProfilePage", "Home")</li>
                    <li><a data-toggle="modal" data-target="#passwordModal">Змінити пароль</a></li>
                    <li>@Html.ActionLink("Вийти", "Index", "Home")</li>
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="container" id="ProfileForm">
    <div class="row row-content">
        <div class="col-10 col-sm-10 col-md-8 col-md-offset-2">
            <div class="card">
                <div class="card-header text-white col-md-offset-4">
                    <h3>Мій профіль</h3>
                </div>

                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputName">Ім'я</label>
                            <input type="text" class="form-control" id="inputName" placeholder="Name" disabled>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputSecondName">Прізвище</label>
                            <input type="text" class="form-control" id="inputSecondName" placeholder="Second Name" disabled>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="inputDepartment">Кафедра</label>
                            <input type="text" class="form-control" id="inputDepartment" placeholder="Department" disabled>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPosition">Позиція</label>
                            <input type="text" class="form-control" id="inputPosition" placeholder="Position" disabled>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail">Email</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email" disabled>
                        </div>

                        <div class="form-group col-md-11">
                            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#profileModal">
                                Редагувати профіль
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="profileModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Редагувати профіль</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="modalInputName">Ім'я</label>
                            <input type="text" class="form-control" id="modalInputName" placeholder="Введіть ім'я">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="modalInputSecondName">Прізвище</label>
                            <input type="text" class="form-control" id="modalInputSecondName" placeholder="Введіть прізвище">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="modalInputDepartment">Кафедра</label>
                            <input type="text" class="form-control" id="modalInputDepartment" placeholder="Кафедра" disabled>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="modalInputPosition">Позиція</label>
                            <input type="text" class="form-control" id="modalInputPosition" placeholder="Позиція" disabled>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="modalInputEmail">Email</label>
                            <input type="email" class="form-control" id="modalInputEmail" placeholder="Введіть email">
                        </div>
                        <div class="form-row col-md-12 col-md-offset-4">
                            <button type="submit" class="btn btn-success btn-md">Зберегти зміни</button>
                            <button type="button" class="btn btn-secondary btn-md" data-dismiss="modal">Скасувати</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="passwordModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Змінити пароль</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row ">
                        <label class="col-sm-3 col-form-label" for="oldInputPassword">Старий пароль</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="oldInputPassword" placeholder="Введіть старий пароль">
                        </div>
                    </div>
                    <div class="form-group row ">
                        <label class="col-sm-3 col-form-label" for="newInputPassword">Новий пароль</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="newInputPassword" placeholder="Введіть новий пароль">
                        </div>
                    </div>
                    <div class="form-group row ">
                        <label class="col-sm-3 col-form-label" for="repeatNewInputPassword">Підтвердіть новий пароль</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="repeatNewInputPassword" placeholder="Підтвердіть новий пароль">
                        </div>
                        <div class="form-row col-md-12 col-md-offset-3">
                            <button type="submit" class="btn btn-success btn-md">Зберегти зміни</button>
                            <button type="button" class="btn btn-secondary btn-md" data-dismiss="modal">Скасувати</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>




