﻿@{
    ViewBag.Title = "RegisteredUser";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

        </div>
        <div class="navbar-collapse collapse" id="Navbar">

            <div class="dropdown pull-right">
                <button type="button" class="btn navbar-btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="fa fa-user-circle-o" style="font-size:36px"></span>
                    
                </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Мій профіль", "ProfilePage", "Home")</li>
                        <li><a data-toggle="modal" data-target="#passwordModal">Змінити пароль</a></li>
                        <li>@Html.ActionLink("Вийти", "Index", "Home")</li>
                    </ul>
            </div>

        </div>
    </div>
</div>

<div id="passwordModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Змінити пароль</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row ">
                        <label class="col-sm-3 col-form-label" for="oldInputPassword">Старий пароль</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="oldInputPassword" placeholder="Введіть старий пароль">
                        </div>
                    </div>
                    <div class="form-group row ">
                        <label class="col-sm-3 col-form-label" for="newInputPassword">Новий пароль</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="newInputPassword" placeholder="Введіть новий пароль">
                        </div>
                    </div>
                    <div class="form-group row ">
                        <label class="col-sm-3 col-form-label" for="repeatNewInputPassword">Підтвердіть новий пароль</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="repeatNewInputPassword" placeholder="Підтвердіть новий пароль">
                        </div>
                        <div class="form-row col-md-12 col-md-offset-3">
                            <button type="submit" class="btn btn-success btn-md">Зберегти зміни</button>
                            <button type="button" class="btn btn-secondary btn-md" data-dismiss="modal">Скасувати</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
